.cluster {
    display: flex;
    flex-wrap: wrap;
    flex-direction: var(--dir, 'row');
    gap: var(--gap, 0);
    justify-content: var(--justify, flex-start);
    align-items: var(--align, flex-start);
}