.results {
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.calories {
    display: flex;
    flex-direction: column;
    align-items: center;
    svg {
        color: tomato;
        width: 3rem;
        height: 3rem;
    }
    span {
        color: var(--color-text-grey);
        font-size: var(--font-size-h5);
        font-weight: 600;
    }
}

.kcalContainer {
    position: relative;
    text-align: center;
    width: 100%;
}
  
.number {
    position: relative;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
}
  
.unit {
    position: absolute;
    top: 0.75rem;
    margin-left: 1px;
    color: var(--color-text-grey);
}