.interactiveCard {
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content;
    padding: var(--s-lg-desk);
    border-radius: var(--s-md-desk);
    color: var(--dark-green-500);
    background-color: var(--white-100);
    border: 2px solid var(--light-green-grey-100);


    /* Pagrindinė dalis - snap pozicija */
    scroll-snap-align: start;
    scroll-snap-stop: always;
    
    flex-shrink: 0;
}
.selected.interactiveCard {
    background-color: var(--light-green-grey-100);
}
.disabled.interactiveCard {
    cursor: not-allowed;
    color: var(--light-green-grey-300);
}
.icon svg {
    fill: var(--dark-green-500);
    height: var(--s-xl-desk);
}
.disabled .icon svg {
    fill: var(--light-green-grey-300);
}
.title {
    font-size: var(--font-d-h4-desk);
    letter-spacing: -0.5px;
    font-weight: 700;
    line-height: 130%;
}
.desc {
    font-size: var(--font-d-md-desk);
    padding-top: var(--s-sm-desk);
}

@media only screen and (max-width: 576px) {
    .interactiveCard {
        max-width: calc(100vw / 1.8);
        grid-template-columns: min-content 1fr;
        column-gap: 0.5rem;
    }
    .icon svg {
        width: var(--s-md-mobi);
        height: var(--s-md-mobi);
    }
    .title {
        font-size: var(--font-d-h6-mobi);
    }
    .desc {
        grid-column: 1 / -1 ;
        font-size: var(--font-d-md-mobi);
    }

}