.aboutContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: clamp(0.5rem, 5vw, 3.5rem);    
}

/* L E F T   S I D E */
.aboutLeft {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    color: var(--color-text-dark);
}

.aboutTitle {
    font-size: var(--font-size-dynamic-h4-lg);
    font-weight: 600;
    line-height:140%;
}

.aboutText {
    font-size: var(--font-size-dynamic-h6-lg);
    font-weight: 400;
}

img.signature { width: var(--signature-size-lg); }

/* R I G H T   S I D E */

.aboutRight img {
    width: 100%;
    filter: drop-shadow(2px 2px 2px var(--color-radio));
}

.education {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1 / -1;
    gap: 0.5rem;
}
.degree {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.degree .icon {
    font-size: var(--font-size-dynamic-h3-lg);
    flex-shrink: 0;
    color: #082b1dbb;
}
.degree span {
    font-size: var(--font-size-dynamic-small-1-lg);
    font-weight: 600;
    color: #082b1dbb;
}

/* * * * * * * * * * * * * * * * * * * * *
*        M E D I A  Q U E R I E S        *
* * * * * * * * * * * * * * * * * * * * */

@media only screen and (max-width: 576px) {
    .aboutContainer {
        grid-template-columns: 1fr;
        gap: 1.6rem;
    }
    .aboutRight { order: 1; }
    .aboutLeft { order: 2 }
    .education {
        margin-top: 0;
        order: 3;
        grid-template-columns: 1fr 1fr;
        gap: 0;
        row-gap: 1rem;
    }
    .degree {
        gap: clamp(0rem, 2vw, 0.72rem);
    }
    .degree .icon {
        font-size: var(--font-size-dynamic-h2-sm);
    }
    .degree span {
        font-size: var(--font-size-dynamic-p-sm);
        font-weight: 700;
    }
    .aboutTitle {
        font-size: var(--font-size-dynamic-h3-sm);
    }

    .aboutText {
        font-size: var(--font-size-dynamic-h5-sm);
    }

    img.signature { width: var(--signature-size-sm); }
}

@media only screen and (max-width: 375px) {
    .education {
        column-gap: 0.4rem;
    }
}