/* L E F T   S I D E */
.aboutLeft {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    color: var(--color-text-dark);
    flex-basis: 60%;
}

.aboutMsg {
    font-size: var(--font-size-h2);
    font-weight: 600;
}

.aboutTxt {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: var(--font-size-h6);
}

img.signature { width: 18.19rem; }

/* R I G H T   S I D E */
.aboutRight {
    justify-self: center;
    align-self: center;
    flex-basis: 40%;
}

.aboutRight img {
    width: 58rem;
    filter: drop-shadow(2px 2px 2px var(--color-radio));
}

/* * * * * * * * * * * * * * * * * * * * *
*        M E D I A  Q U E R I E S        *
* * * * * * * * * * * * * * * * * * * * */

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    /* .aboutContainer {
        padding: 0 var(--content-padding_768);
        display: grid;
        grid-template-columns: 2.4fr 1.6fr;
    } */
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* .aboutContainer {
        padding: 0 var(--content-padding_768);
        display: grid;
        grid-template-columns: 2.4fr 1.6fr;
    }

    .aboutRight img {
        width: 100%;
    } */
}

@media only screen and (min-width: 608px) and (max-width: 768px) {
    /* .aboutContainer {
        padding: 0 var(--content-padding_768);
    }
    .aboutMsg {
        font-size: var(--font-size-h5);
    }
    .aboutRight img {
        width: 100%;
    } */
}
@media only screen and (min-width: 431px) and (max-width: 607px) {
    /* .aboutContainer {
        padding: 0 var(--content-padding_607);
        flex-direction: column-reverse;
        align-items: start;
        gap: 3rem;
    }

    .aboutMsg {
        font-size: var(--font-size-h5);
        font-weight: 600;
    }

    .aboutTxt {
        font-size: var(--font-size-small-1);
    }
    .aboutRight img {
        width: 100%;
    } */
}

@media only screen and (max-width: 430px) {
    /* .aboutSection {
        margin-bottom: 3.5rem;
    }
    .aboutContainer {
        padding: 0 var(--content-padding_430);
        flex-direction: column-reverse;
        gap: 3rem;
    }

    .aboutRight img {
        width: 100%;
    }

    .aboutMsg {
        font-size: var(--font-size-h3);
        font-weight: 600;
    }
    .aboutTxt {
        font-size: var(--font-size-h5);
    } */
}

@media only screen and (max-width: 375px) {
    /* .aboutContainer {
        padding: 0 var(--content-padding_375);
    } */
}

@media only screen and (max-width: 320px) {
    /* .aboutContainer {
        padding: 0 var(--content-padding_320);
    }
    .aboutMsg {
        font-size: var(--font-size-h4);
        font-weight: 600;
    }
    .aboutTxt {
        font-size: var(--font-size-h6);
    } */
}


