.aboutContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: clamp(0.5rem, 5vw, 3.5rem);    
}

/* L E F T   S I D E */
.aboutLeft {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    color: var(--color-text-dark);
}

.aboutTitle {
    font-size: var(--font-size-dynamic-h4-lg);
    font-weight: 600;
    line-height:140%;
}

.aboutText {
    font-size: var(--font-size-dynamic-h6-lg);
    font-weight: 400;
}

img.signature { width: var(--signature-size-lg); }

/* R I G H T   S I D E */

.aboutRight img {
    width: 100%;
    filter: drop-shadow(2px 2px 2px var(--color-radio));
}

/* * * * * * * * * * * * * * * * * * * * *
*        M E D I A  Q U E R I E S        *
* * * * * * * * * * * * * * * * * * * * */


/* * * * * * * * * * * * * * * * * * * * * */
/* ---M-I-D-D-L-E---B-R-E-A-K---P-O-I-N--- */
/* * * * * * * * * * * * * * * * * * * * * */
@media only screen and (max-width: 576px) {
    .aboutContainer {
        grid-template-columns: 1fr;
        gap: 1.6rem;
    }
    .aboutRight { order: 1; }
    .aboutLeft { order: 2 }
    
    .aboutTitle {
        font-size: var(--font-size-dynamic-h3-sm);
    }

    .aboutText {
        font-size: var(--font-size-dynamic-h5-sm);
    }

    img.signature { width: var(--signature-size-sm); }
}



