.benefitsContainer {
    border-radius: 3rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.benefits {
    display: grid;
    padding: 0 5rem 0 5rem; /* T E S T */
    column-gap: 7rem;
    row-gap: 7rem;
    grid-template-columns: 1fr 1fr;
}

.benefitTitle {
    text-align: center;
    color: var(--color-text-dark);
    font-weight: 700;
    font-size: var(--font-size-h2);
    padding-bottom: 4rem;
    line-height: 100%;
}

.benefitItem {
    display: flex;
    gap: 1.5rem;
}

.message {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.icon {
    display: flex;
    align-self: center;
    width: 8rem;
}

.title {
    color: var(--color-text-dark);
    font-size: var(--font-size-h5);
    font-weight: 600;
}

.text {
    color: var(--color-text-dark);
    font-size: var(--font-size-h6);
}

/* * * * * * * * * * * * * * * * * * * *
*        M E D I A  Q U E R I E S      *
* * * * * * * * * * * * * * * * * * * */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .benefitsSection {
        /* padding: 0 var(--content-padding_768); */
    }

    .benefitsContainer {
        /* margin: 0 var(--content-padding_768); */
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .benefitsSection {
        /* padding: 0 var(--content-padding_768); */
    }

    .benefits {
        grid-template-columns: 1fr;
        /* padding: 0 var(--content-padding_768); */
        row-gap: 3.5rem;
    }
}

@media only screen and (min-width: 608px) and (max-width: 768px) {
    .benefitsSection {
        padding: 0 var(--content-padding_768);
    }
    .benefits {
        grid-template-columns: 1fr;
        padding: 0 var(--content-padding_768);
        row-gap: 3.5rem;
    }
    .benefitsContainer {
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
    }
}
@media only screen and (min-width: 431px) and (max-width: 607px) {
    .benefitsSection {
        padding: 0 var(--content-padding_607);
    }

    .benefits {
        grid-template-columns: 1fr;
        padding: 0 var(--content-padding_607);
        row-gap: 3.5rem;
    }

    .benefitsContainer {
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
    }

    .benefitTitle {
        font-size: var(--font-size-h3);
    }
    .text {
        color: var(--color-text-dark);
        font-size: var(--font-size-small-1);
    }
}


@media only screen and (max-width: 430px) {
    .benefitsSection {
        padding: 0 var(--content-padding_430);
    }
    .benefitsContainer {
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
    }

    .benefitTitle {
        font-size: var(--font-size-h3);
        font-weight: 600;
    }

    .benefits {
        grid-template-columns: 1fr;
        padding: 0 var(--content-padding_430);
        row-gap: 3.5rem;
    }

    .benefitItem {
        flex-direction: column;
    }

    .message {
        align-items: center;
    }

    .title {
        font-size: var(--font-size-h5);
        font-weight: 600;
    }

    .text {
        text-align: justify;
        font-size: var(--font-size-h5);
    }
    
}
@media only screen and (max-width: 375px) {
    .benefitsSection {
        padding: 0 var(--content-padding_375);
    }

    .benefits {
        padding: 0 var(--content-padding_375);
    }
}
@media only screen and (max-width: 320px) {
    .benefitsSection {
        padding: 0 var(--content-padding_320);
    }

    .benefitTitle {
        font-size: var(--font-size-h4);
        font-weight: 600;
    }
    
    .benefits {
        padding: 0 var(--content-padding_320);
    }

    .title {
        font-size: var(--font-size-h6);
        font-weight: 600;
    }

    .text {
        font-size: var(--font-size-h6);
    }
}