.clientStoryContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: clamp(0.5rem, 5vw, 3.5rem);   
}

/* L E F T   S I D E */
.containerLeft {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    color: var(--color-text-dark);
}

.clientStoryTitle {
    font-size: var(--font-size-dynamic-h4-lg);
    font-weight: 600;
    line-height:140%;
}

.clientStoryText {
    font-size: var(--font-size-dynamic-h6-lg);
    font-weight: 400;
}

img.signature { width: 18.19rem; }

/* R I G H T   S I D E */

.containerRight img {
    width: 100%;
    filter: drop-shadow(2px 2px 2px var(--color-radio));
    transform: scaleX(-1);
}

/* * * * * * * * * * * * * * * * * * * *
*        M E D I A  Q U E R I E S      *
* * * * * * * * * * * * * * * * * * * */

@media only screen and (max-width: 576px) {
    .clientStoryContainer {
        grid-template-columns: 1fr;
        gap: 1.6rem;
    }

    .containerRight { order: 1; }
    .containerLeft { order: 2 }
    .clientStoryMsg {
        font-size: var(--font-size-h5);
    }
    .clientStoryTitle {
        font-size: var(--font-size-dynamic-h3-sm);
    }
    .clientStoryText {
        font-size: var(--font-size-dynamic-h5-sm);
    }
}





