.experienceSection {
    margin-bottom: 7rem;
}

.experienceContainer {
    display: flex;
    justify-content: space-between;
    max-width: var(--content-width);
    margin: 0 auto;
}

.experienceItem {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    opacity: 0.2;
}

.experienceItem h3 {
    color: var(--color-text-dark);
    font-weight: 700;
    line-height: 100%;
    font-size: var(--font-size-h3);
}

.experienceItem h4 {
    line-height: 110%;
    font-size: var(--font-size-h6);
    font-weight: 300;
}

.experienceItem.onload {
    opacity: 1;
    transition: opacity 0.5s;
}

/* * * * * * * * * * * * * * * * * * * * *
*        M E D I A  Q U E R I E S        *
* * * * * * * * * * * * * * * * * * * * */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .experienceContainer { 
        padding: 0 var(--content-padding_768);
        gap: 1rem;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .experienceContainer { 
        padding: 0 var(--content-padding_768);
        gap: 1rem;
    }
}
@media only screen and (min-width: 608px) and (max-width: 768px) {
    .experienceContainer { 
        padding: 0 var(--content-padding_768);
        gap: 1rem;
    }
}

/* 607px is iPhone mini landscape */
@media only screen and (min-width: 431px) and (max-width: 607px) {
    .experienceContainer { 
        padding: 0 var(--content-padding_607);
        gap: 1rem;
    }

    .experienceItem {
        align-items: center;
        text-align: center;
    }

    .experienceItem h3 {
        font-size: var(--font-size-h3);
    }
}

@media only screen and (max-width: 430px) {
    .experienceContainer { 
        padding: 0 var(--content-padding_430);
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 4rem;
    }

    .experienceItem {
        align-items: center;
    }
    
    .experienceItem h3 {
        font-size: var(--font-size-h2);
    }

    .experienceItem h4 {
        font-size: var(--font-size-h5);
    }
}

@media only screen and (max-width: 375px) {
    .experienceContainer { 
        padding: 0 var(--content-padding_375);
    }
}

@media only screen and (max-width: 320px) {
    .experienceContainer { 
        padding: 0 var(--content-padding_320);
    }

    .experienceItem h3 {
        font-size: var(--font-size-h3);
    }
    
    .experienceItem h4 {
        font-size: var(--font-size-h6);
    }
}