.footerSection {
    background-color: var(--color-bgr-card);
    transition: transform 1s, opacity 1s;
}

.footerContainer {
    flex-direction: column;
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
}

.footerTitle {
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--color-text-dark);
    font-size: var(--font-size-dynamic-h4-lg);
    font-weight: 700;
}

.footerText {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--color-text-dark);
    font-size: var(--font-size-dynamic-h6-lg);
    margin: 2rem 0;
}
/* .newsletterEmail {
    display: flex;
    flex-direction: column;
} */
.footerEmail {
    display: flex;
    justify-content: center;
    margin-top: clamp(0.1rem, 1.563vw, 1rem);
    margin-bottom: clamp(0.1rem, 5.469vw, 3.5rem);
}

.footerEmail div {
    position: relative;
}

/* VISI vw YRA PRPIE 1024px EKRANO PLOCIO */
.footerEmail input {
    border: none;
    outline: none;
    border-radius: 4rem;
    height: clamp(0rem, 6.25vw, 4rem); 
    width: clamp(0rem, 50vw, 32rem);
    font-size: var(--font-size-dynamic-h6-lg);
    padding-right: clamp(0rem, 20.313vw, 13rem);
    padding-left: clamp(1rem, 3.125vw, 2rem);
    color: var(--color-text-dark);
    background-color: var(--color-text-light);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.inputError {
    position: absolute;
    top: 105%;
    left: 5%;
    color: var(--color-error);
    font-weight: 500;
    font-size: var(--font-size-dynamic-p-sm);
}

.footerEmail input:focus {
    outline: 1.5px solid var(--color-text-dark);
    transition: outline 0.1s ease;
}

.footerEmail input.invalid {
    outline: 1.5px solid var(--color-error);
    transition: outline 0.2s ease;
}

.footerEmail input.valid {
    outline: 1.5px solid var(--color-success);
    transition: outline 0.2s ease;
}

.footerEmail button {
    position: absolute;
    border: none;
    border-radius: 10rem;
    color: var(--color-text-dark);
    font-size: var(--font-size-dynamic-p-lg);
    font-weight: 600;
    background-color: var(--color-btn-primary);
    height: clamp(0rem, 4.688vw, 3rem);
    width: clamp(0rem, 18.75vw, 12rem);
    top: 50%;
    transform: translateY(-50%);
    right: clamp(0rem, 0.781vw, 0.5rem);
    transition: background 0.2s;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.footerEmail button:hover {
    background-color: var(--color-btn-secondary);
}
.footerEmail button:active {
    background-color: #80cd66;
}

.footerEmail button:disabled {
    cursor: not-allowed;
    color: var(--color-text-light);
    background: var(--color-radio-border);
    
}

.footerTop {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.footerLogo img {
    cursor: pointer;
    height: clamp(0rem, 4.688vw, 3rem);
    width: clamp(0rem, 14.063vw, 9rem);
}

.termsOfUse {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    color: var(--color-text-dark);
    font-size: var(--font-size-dynamic-h6-lg);
}

.socialIcons {
    display: flex;
    gap: 0.6rem;
}

.socialIcons img {
    cursor: pointer;
}

.footerDivider {
    border-bottom: 1.2px solid #44444455;
    margin: clamp(0rem, 0.938vw, 0.6rem) -2rem clamp(0rem, 0.938vw, 0.6rem) -2rem;
}

.footerBottom {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: var(--color-text-dark);
    font-size:  var(--font-size-dynamic-h6-lg);
    line-height: 150%;
}
.copy {
    font-size: var(--font-size-dynamic-h4-lg);
    font-weight: 400;
}

.icon {
    font-size: clamp(0.5rem, 4.688vw, 3rem);
    color: var(--color-text-dark);
}

/* * * * * * * * * * * * * * * * * * * *
*        M E D I A  Q U E R I E S      *
* * * * * * * * * * * * * * * * * * * */

@media only screen and (max-width: 576px) {
    .footerContainer {
        padding-bottom: 0;
    }

    .footerTitle {
        flex-direction: column;
        line-height: 50%;
        gap: clamp(0rem, 6.111vw, 2.2rem);
        padding-bottom: clamp(0rem, 12.153vw, 4.375rem);
        font-size: var(--font-size-dynamic-h3-sm);
    }
    .footerText {
        margin: 0;
        font-size: var(--font-size-dynamic-h5-sm);
    }
    .footerEmail, .footerText {
        padding-bottom: clamp(0rem, 12.153vw, 4.375rem);
    }
    .footerEmail input {
        width: 100%;
    }

    .footerTop {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footerEmail {
        margin: 0;
    }

    .footerEmail input {
        height: clamp(0rem, 11.111vw, 4rem); 
        width: clamp(0rem, 77.778vw, 28rem);
        
        font-size: var(--font-size-dynamic-h6-sm);
        padding-right: clamp(0rem, 24.444vw, 8.8rem);
    }
    
    .footerEmail button {
        height: clamp(0rem, 8.333vw, 3rem);
        width: clamp(0rem, 27.778vw, 10rem);
        right: clamp(0rem, 1.389vw, 0.5rem);
        font-size: var(--font-size-dynamic-p-sm);
    }

    .termsOfUse {
        flex-direction: column;
        grid-area: 1 / 1 / -3 / -2;
        font-size: var(--font-size-dynamic-h5-sm);
        font-weight: 500;
        gap: 0.5rem;
    }

    .socialIcons {
        justify-content: end;
    }
    .footerLogo {
        display: flex;
        align-self: start;
        justify-content: end;
    }
    .footerLogo img {
        height: clamp(0rem, 7.639vw, 2.75rem);
        width: clamp(0rem, 24.306vw, 8.75rem);
    }

    .icon {
        font-size: clamp(0rem, 7.639vw, 2.75rem);
    }

    .footerDivider {
        margin-top: 1rem;
        margin-bottom: 0;
    }

    .footerBottom {
        display: flex;
        height: clamp(0rem, 12.153vw, 4.375rem);
        justify-content: center;
        font-size: var(--font-size-dynamic-h6-sm);
        font-weight: 500;
    }

    .copy {
        font-size: var(--font-size-dynamic-h4-sm);
        font-weight: 500;
    }

}
