.testimonialSection {
    transition: transform 1s, opacity 1s;
    margin-bottom: 7rem;
}

.testimonialContainer {
    gap: 3rem;
    align-items: center;
    max-width: var(--content-width);    
    margin: 0 auto;
    padding-bottom: 7rem;
}
