.testimonialContainer {
    gap: var(--content-padding-sm);
}

.testimonialCard {
    display: flex;
    flex-direction: column;
    gap: clamp(0rem, 1.563vw, 1rem);
    border-radius: 2rem;
    padding: 1.2rem;
    /* width: 33%; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.title {
    font-size: var(--font-size-dynamic-h6-lg);
    font-weight: 600;
    color: var(--color-text-dark);
    line-height: 100%;
}
.text {
    color: var(--color-text-dark);
    font-size: var(--font-size-dynamic-p-lg);
    font-weight: 400;
}

.icon {
    /* color: var(--color-star); */
    color: var(--color-btn-secondary);
    /* color: var(--color-bgr-top); */
    font-size: var(--font-size-dynamic-h6-lg);
}


/* * * * * * * * * * * * * * * * * * * *
*        M E D I A  Q U E R I E S      *
* * * * * * * * * * * * * * * * * * * */

@media only screen and (max-width: 576px) {
    .testimonialContainer {
        flex-direction: column;
    }
    .testimonialCard {
        gap: clamp(0rem, 2.778vw, 1rem);

    }
    .title {
        font-size: var(--font-size-dynamic-h5-sm);
    }
    .text {
        font-size: var(--font-size-dynamic-h6-sm);
    }

    .icon {
        font-size: var(--font-size-dynamic-h5-sm);
    }
}
