.welcomeSection {
    width: 100%;
    background-image: linear-gradient(180deg, var(--color-bgr-top), var(--color-bgr-bottom));
    color: var(--color-text-light);
    border-bottom-left-radius: 14.5vw;
    border-bottom-right-radius: 14.5vw;
}

.welcomeContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(2rem, 4vw, 6rem);
    padding-top: clamp(2rem, 3.5vw, 4rem);
    padding-bottom: clamp(2rem, 3.5vw, 4rem);
} 

.welcomeLeft, .welcomeRight {
    display: flex;
    flex-direction: column;
    
}

/* L E F T   S I D E */
.welcomeLeft {
    flex: 1;
    justify-content: space-around;
}

/* .welcomeHeader p span { color: var(--color-btn-primary); }
.welcomeHeader p { opacity: 0.1; }
.welcomeHeader p:nth-child(1) { transform: translateX(-5%); transition: transform 0.6s ease-out, opacity 0.5s ease; }
.welcomeHeader p:nth-child(2) { transform: translateX(-10%); transition: transform 0.6s ease-out, opacity 0.5s ease; }
.welcomeHeader p:nth-child(3) { transform: translateX(-15%); transition: transform 0.6s ease-out, opacity 0.5s ease; } */

.welcomeHeader h1 span { color: var(--color-btn-primary); }
.welcomeHeader h1 { opacity: 0.1; }
.welcomeHeader h1:nth-child(1) { transform: translateX(-5%); transition: transform 0.6s ease-out, opacity 0.5s ease; }
.welcomeHeader h1:nth-child(2) { transform: translateX(-10%); transition: transform 0.6s ease-out, opacity 0.5s ease; }
.welcomeHeader h1:nth-child(3) { transform: translateX(-15%); transition: transform 0.6s ease-out, opacity 0.5s ease; }

.welcomeHeader {
    display: flex;
    flex-direction: column;
    line-height: 115%;
    color: var(--color-text-light);
    font-size: var(--font-size-dynamic-h2-lg);
    font-weight: 600;
}

.welcomeHeader h1 {
    line-height: 115%;
    font-size: var(--font-size-dynamic-h2-lg);
    font-weight: 600;
}

.welcomeTitle {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    /* color: var(--color-text-light);
    font-size: var(--font-size-dynamic-p-lg);
    font-weight: 400; */
    transform: translateX(-2%);
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
    opacity: 0.1;
}

.welcomeTitle h2 {
    color: var(--color-text-light);
    font-size: var(--font-size-dynamic-p-lg);
    font-weight: 400;
    /* opacity: 0.1; */
}

/* .welcomeLeft.onload :is(.welcomeHeader p, .welcomeTitle, .btn) {
    transform: translateX(0%);
    opacity: 1;
} */
.welcomeLeft.onload :is(.welcomeHeader h1, .welcomeTitle, .btn) {
    transform: translateX(0%);
    opacity: 1;
}

/* R I G H T   S I D E */

.welcomeRight {
    align-items: center;
}
.welcomeRight img {
    width: 100%;
    transition: 0.5s ease-out;
    opacity: 0.5;
    transform: scale(0.98);
}

.welcomeRight img.onload {
    transform: scale(1);
    opacity: 1;
}

.btn {
    width: clamp(0rem, 18.75vw, 12rem);
    height: clamp(2rem, 4.688vw, 3rem);
    
    border-radius: 10rem;
    border: 1px solid var(--color-btn-primary); 
    
    font-size: var(--font-size-dynamic-p-lg);
    font-weight: 600;
    color: var(--color-btn-primary);
    background-color: #00000000;
    transform: translateX(-15%);
    opacity: 0.5;
    box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.3);
    transition: background 0.07s ease-out, transform  0.5s ease-out, opacity  0.5s ease-out;
}

.btn:hover { background-color: #ffffff22; }


/* * * * * * * * * * * * * *
* M E D I A  Q U E R I E S *
* * * * * * * * * * * * * */
@media only screen and (max-width: 1024px) {
    .btnContainer {
        padding-left: 2rem;
    }
}

/* ---M-A-I-N---B-R-E-A-K---P-O-I-N--- */
@media only screen and (max-width: 576px) {
    .welcomeSection {
        border-bottom-left-radius: 11.5vw;
        border-bottom-right-radius: 11.5vw;
    }

    .welcomeContainer { 
        display: grid;
        grid-template-columns: 1fr;
        gap: 6.4vw;
        padding-top: 6.4vw;
        padding-bottom: 10vw;
    }
    .welcomeRight { order: 1; }
    .welcomeLeft { order: 2; }

    .welcomeRight img {
        width: clamp(1rem, 70vw, 40rem);
    }
    .welcomeLeft {
        gap: 10vw;
    }

    .welcomeHeader {
        font-size: var(--font-size-dynamic-h2-sm);
        gap: 1.389vw;
    }

    /* .welcomeHeader p {
        text-align: center;
    } */

    .welcomeHeader h1 {
        font-size: var(--font-size-dynamic-h2-sm);
        gap: 1.389vw;
        text-align: center;
    }
    .welcomeTitle {
        text-align: center;
        /* font-size: var(--font-size-dynamic-h5-sm); */
    }
    .welcomeTitle h2 {
        font-size: var(--font-size-dynamic-h5-sm);
    }
    .btnContainer {
        display: flex;
        justify-content: center;
    }

    .btn {
        font-size: var(--font-size-dynamic-p-sm);
        width: 36vw;
        height: 10vw;
    }

    .btnContainer {
        padding: 0rem;
    }
}

