.narysteTitle {
    margin-bottom: 1rem;
    font-size: var(--font-size-dynamic-h5-lg);
    color: var(--dark-green-600);
    animation: fadeIn 0.2s;
}


.naryste {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    column-gap: 1rem;
    row-gap: 1rem;
    width: clamp(0rem, 91vw, 45rem);
    margin: 0 auto;
    padding-bottom: 3rem;
    animation: zoomIn 0.3s ease-out forwards;
}

.plans {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: translateY(4px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@media only screen and (max-width: 768px) {
    .naryste {
        width: 100%;
    }
}
@media only screen and (max-width: 576px) {
    .naryste {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 375px) {
    .naryste {
        row-gap: 0.7rem;
    }
    .plans { 
        gap: 0.7rem;
    }
}
