.header {
	color: var(--dark-green-600);
    margin-bottom: var(--s-32);
}
.header .title {
	font-size: var(--font-d-h1-desk);
	letter-spacing: -2px;
	font-weight: 600;
	text-align: center;
}

.header .subTitle {
	font-size: var(--font-d-h6-desk);
	letter-spacing: 0.02em;
	text-align: center;
}

.body {
	display: grid;
	grid-template-columns: 1.08fr 0.76fr 1.08fr;
	grid-template-rows: 1fr 1fr;
	gap: var(--s-lg-desk);
    padding-bottom: var(--s-lg-mobi);
}

.phone {
	grid-row: 1 / -1;
	grid-column: 2 / 3;
}

.phone img {
	width: 100%;
}

.bottom {
	background-color: var(--dark-green-500);
	border-radius: var(--s-md-desk);
}
.item {
	text-align: center;
	color: var(--light-green-grey-100);
	padding: var(--s-md-desk) 0;
}

.itemTitle {
	font-size: var(--font-d-h3-desk);
	font-weight: 700;
}
.itemLabel {
    font-size: var(--font-d-h6-desk);
}

/* C A R O U S EL E */
.carouselWrapper {
	width: 100%;
	max-width: var(--content-width);
	margin: 0 auto var(--s-lg-mobi) 0;
    
}
.scrollContainer {
	display: flex;
	gap: var(--s-sm-mobi);
    
	overflow-x: scroll;
	scroll-behavior: auto;
	scrollbar-width: none;
	scroll-snap-type: x mandatory;
	/* scroll-padding: 0 calc(50% - 140px); */
}
.scrollContainer::-webkit-scrollbar {
	display: none;
}

/* C A R O U S E L E */

@media only screen and (max-width: 576px) {
	.header .title {
		font-size: var(--font-d-h2-mobi);
		line-height: 120%;
	}
	.header .subTitle {
		font-size: var(--font-d-h6-mobi);
	}
	.body {
		grid-template-columns: 0.5fr 1fr 0.5fr;
	}
    .bottom .itemTitle {
        font-size: var(--font-d-h5-mobi);
    }
    .bottom .itemLabel {
        font-size: var(--font-d-md-mobi);
    }
}

@media only screen and (max-width: 440px) {
	.body {
		grid-template-columns: 1fr 3fr 1fr;
	}
}
