.sectionBody {
	display: grid;
	grid-template-columns: 1fr 276px 1fr;
	grid-template-rows: repeat(2, calc((568px / 2) - var(--s-lg-desk) / 2));
	gap: var(--s-lg-desk);
    padding-bottom: var(--s-lg-mobi);
}

.bottom {
	background-color: var(--dark-green-500);
	border-radius: var(--s-md-desk);
}
.bottomItem {
	text-align: center;
	color: var(--light-green-grey-100);
	padding: var(--s-md-desk) 0;
}

.itemTitle {
	font-size: var(--font-d-h3-desk);
	font-weight: 700;
}
.itemLabel {
    font-size: var(--font-d-h6-desk);
}

.carouselWrapper {
	width: 100%;
	max-width: var(--content-width);
	margin: 0 auto var(--s-lg-mobi) 0;
    
}
.scrollContainer {
	display: flex;
	gap: var(--s-sm-mobi);

	overflow-x: scroll;
	scroll-behavior: auto;
	scrollbar-width: none;
	scroll-snap-type: x mandatory;
}
.scrollContainer::-webkit-scrollbar {
	display: none;
}

@media only screen and (max-width: 768px) {
    .sectionBody {
        grid-template-columns: 1fr 200px 1fr;
        grid-template-rows: repeat(2, calc((411px / 2) - var(--s-lg-desk) / 2));
    }
}

@media only screen and (max-width: 576px) {
    .carouselWrapper {
        margin-top: 1rem;
    }
	.sectionBody {
		grid-template-columns: 1fr 300px 1fr;
        grid-template-rows: repeat(2, 300px);
	}
    .bottom .itemTitle {
        font-size: var(--font-d-h5-mobi);
    }
    .bottom .itemLabel {
        font-size: var(--font-d-md-mobi);
    }
}

@media only screen and (max-width: 440px) {
	.sectionBody {
		grid-template-columns: 1fr 256px 1fr;
        grid-template-rows: repeat(2, 259px);
	}
}

@media only screen and (max-width: 375px) {
    .sectionBody {
		grid-template-columns: 1fr 200px 1fr;
        grid-template-rows: repeat(2, 202px);
	}
}

@media only screen and (max-width: 320px) {
    .sectionBody {
		grid-template-columns: 1fr 165px 1fr;
        grid-template-rows: repeat(2, 167px);
	}
}