.header {
    color: var(--dark-green-600);
}
.header .title {
    font-size: var(--font-d-h1-desk);
    letter-spacing: -2px;
    font-weight: 600;
    text-align: center;
}

.header .subTitle {
    font-size: var(--font-d-h6-desk);
    letter-spacing: 0.02em;
    text-align: center;
}

.body {
    display: grid;
    grid-template-columns: 1.08fr 0.76fr 1.08fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--s-lg-desk);
}

.phone {
    grid-row: 1 / -1 ;
    grid-column: 2 / 3;
}

.phone img {
    width: 100%;
}

.bottom {
    background-color: var(--dark-green-500);
    border-radius: var(--s-md-desk);
}
.item {
    text-align: center;
    color: var(--light-green-grey-100);
    padding: var(--s-24) 0;
}

.itemTitle {
    font-size: var(--font-d-h4-desk);
    font-weight: 700;
}
.itemLabel {

}

@media only screen and (max-width: 576px) {
    .header .title {
        font-size: var(--font-d-h2-mobi);
        line-height: 120%;
    }
    .header .subTitle {
        font-size: var(--font-d-h6-mobi);
    }
    .body {
        grid-template-columns: 0.5fr 1fr 0.5fr;
    }
    .cardsMobile {
        overflow: auto;
        scrollbar-width: none; /* Firefox */
        display: flex;
        gap: 1rem;
        flex-wrap: nowrap;
    }
    .element::-webkit-scrollbar {
        display: none;
    }
}

@media only screen and (max-width: 440px) {
    .body {
        grid-template-columns: 1fr 3fr 1fr;
    }
}