.filters {
    display: flex;
}

.planasPriskirtasFilter {
    display: flex;
    border: 1px solid #999;
    border-radius: 4px;
    align-items: center;
    padding: 0 0.5rem;
    gap: 0.5rem;
    /* height: 2rem; */
}
.filterTitle {
    color: #777;
    font-size: var(--font-size-dynamic-small-1-lg);
}
.filter {
    cursor: pointer;
    display: flex;
    gap: 0.1rem;
    align-items: center;
}
.filter label {
    font-size:  var(--font-size-dynamic-small-1-lg);
    font-weight: 400;
}
.filter input {
    cursor: pointer;
}


@media only screen and (max-width: 1024px) {
    /* .filterTitle {
        
    }
    .filter label {
        
    } */
}

@media only screen and (max-width: 768px) {
    .filters {
        grid-column: 1 / -1;
    } 

    .filterTitle {
        font-size: var(--font-size-small-1);
        font-weight: 500;
    }
    .filter label {
        font-size: var(--font-size-small-1);
        font-weight: 500;
    }
}