.header {
    display: flex;
    justify-content: center;
    color: var(--color-bgr-bottom);
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1.5rem 0 1rem 0;
}

@media only screen and (max-width: 320px) {
    .header {
        font-size: 1.3rem;
    }
}