.searchResults {
    /* position: absolute; */
    overflow: hidden;
    /* width: 10rem; */
    width: 100%;
    margin-top: 0.5rem;
    border-radius: 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.searchResults p {
    cursor: pointer;
    color: #555;
    padding: 0.4rem 0.5rem;
    user-select: none;
}
.searchResults p:hover {
    background-color: #f5f5f5;
    color: var(--color-btn-primary);
}
.searchResults p:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

@media only screen and (max-width: 576px) {
    .searchResults {
        /* width: 100%; */
    }
}