.newRecipe {
    display: flex;
    justify-content: end;
}

.newRecipeBtn {
    border: none;
    border-radius: 50rem;
    background-color: var(--color-background-secondary);
    color: var(--green-bgr-dark);
    font-weight: 500;
    font-size: var(--font-size-small-1);
    padding: 0 0.8rem;
    height: 1.8rem;
    text-wrap: nowrap;
    user-select: none;
}
.newRecipeBtn:hover {
    background-color: var(--color-background-hover);
}

@media only screen and (max-width: 440px) {
    .newRecipe {
        justify-content: center;
        grid-column: 1 / -1;
    }

    .newRecipeBtn {
        width: 100%;
        height: 2.6rem;
        font-size: var(--font-size-p);
    }
}

@media only screen and (max-width: 375px) {
    .newRecipeBtn {
        height: 2.2rem;
    }
}

@media only screen and (max-width: 320px) {
    .newRecipeBtn {
        font-size: var(--font-size-small-1);
    }
}