.adminRecipe {
    display: flex;
    border-radius: 0.5rem;
    background-color: #fff;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 3.5rem;
}

.image {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
}
.section {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    overflow: hidden;
}
.title {
    cursor: pointer;
    flex-wrap: wrap;
    width: 12rem;
    color: var(--color-bgr-bottom);
    font-size: var(--font-size-small-1);
    font-weight: 500;
    transition: all 0.1s ease-in-out;
}
.title:hover { color: var(--color-a);}
.foodLogic { width: 4rem; }
.recipeType { width: 5rem; }
.taste { width: 4rem; }
.duration { width: 5rem; }
.likes { width: 3rem; }
.videoLink { width: 22rem; flex-shrink: 1;}
.isVegetarian { width: 2rem; flex-grow: 1; }
.deleteRecipe { width: 3.5rem; }
.foodLogic, .recipeType, .taste, .duration, .likes, .videoLink, .isVegetarian {
    font-size: var(--font-size-small-1);
    color: var(--grey-dark);
}

.a_b, .b_r, .a_r {
    border-radius: 5rem;
    padding: 0 0.5rem;
    font-size: var(--font-size-small-1);
    font-weight: 600;
}
.a_b { color: var(--color-b); background-color: var(--color-bgr-b); }
.b_r { color: var(--color-a); background-color: var(--color-bgr-a); }
.a_r { color: var(--color-r); background-color: var(--color-bgr-r); }

.videoLink:hover, .videoLink:hover .icon {
    color: var(--color-btn-secondary);
}
.isVegetarian .icon {
    width: 1rem;
    height: 1rem;
    color: var(--color-btn-secondary);
}
.deleteRecipe {
    cursor: pointer;
    justify-content: center;
    border-left: 1px solid #eee;
    transition: all 0.15s ease-in-out;
}
.deleteRecipe .icon {
    color: var(--grey-light);
}
.deleteRecipe:hover {
    background-color: var(--color-admin-red-bgr);
    border-left: 1px solid var(--color-admin-red-bgr);
}
.deleteRecipe:hover .icon {
    color: var(--color-admin-red);
}

.icon {
    color: var(--grey-dark);
    stroke-width: 1.8px;
    width: 1.1rem;
    height: 1.1rem;
    margin-right: 0.2rem;
    transition: all 0.15s ease-in-out;
    flex-shrink: 0;
}

.icon.liked {
    fill: var(--grey-dark);
}

