.recipeModal {
    position: absolute;
    background-color: #fff;
    border: 1.5px solid var(--color-border);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: clamp(100px, 92vw, 22rem);
    top: 3rem;
    left: 50%;
    z-index: 10;
    padding: 1rem;
    transform: translateX(-50%);
    animation: openModal 0.2s;
}
.recipeModal:has(:global(.open)) {
    min-height: 37rem;
}

@media only screen and (max-width: 440px) {
    .recipeModal:has(.open) {
        min-height: 32rem;
    }
}

@media only screen and (max-width: 375px) {
    .recipeModal { 
        width: clamp(100px, 93vw, 22rem);
        padding: 0.8rem; 
    }
}
@media only screen and (max-width: 320px) {
    .recipeModal { 
        width: clamp(100px, 94vw, 22rem);
        padding: 0.5rem; 
    }
}

@keyframes openModal {
    from {
        opacity: 0;
        top: 2rem;
    }
    to {
        opacity: 1;
        top: 3rem;
    } 
}