.newRecipe {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    border: 1px solid var(--color-border);
    border-radius: 0.5rem;
}
.inputs {
    cursor: pointer;
    text-align: center;
    transition: all 0.1s ease-in-out;
    border-width: 1px;
    border-style: solid;
    font-size: var(--font-size-p);
    
}
.recipeTitleInput {
    composes: inputs;
    border: none;
    border-bottom: 1px solid var(--color-border);
    margin: 1rem 1.6rem 0rem 1.6rem;
    padding-bottom: 0.3rem;
    border-radius: 0;
    text-align: center;
    color: var(--green-bgr-light);
    font-weight: 500;
}

.recipeTitleInput:focus {
    border-bottom: 1px solid var(--color-btn-secondary);
}

.recipeTitleInput::placeholder, .productSearchInput::placeholder {
    text-align: center;
    color: var(--grey-dark);
    font-size: var(--font-size-p);
    font-weight: 300;
}
.searchProductContainer {
    display: flex;
    position: relative;
}
.productSearchInput {
    composes: inputs;
    border-radius: 50rem;
    margin: 1rem;
    flex-grow: 1;
    padding: 0.3rem 1rem; 
    border-color: var(--color-border);
    color: var(--grey-dark);
    font-weight: 400;
    width: 100%;
}
.productSearchInput:focus {
    border-color: var(--color-btn-secondary);
    outline: 1px solid var(--color-btn-secondary);
}

.searchProductsList {
    position: absolute;
    top: 3.3rem;
    left: 1rem;
    overflow: hidden;
    border-radius: 0.5rem;
    width: calc(100% - 2rem);
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} 

.searchProduct {
    font-size: var(--font-size-p);
    color: var(--color-text-grey);
    padding: 0.2rem 0.5rem;
}
.searchProduct:not(:last-child) {
    border-bottom: 0.5px solid var(--color-border);
}
.searchProduct:hover {
    cursor: pointer;
    color: var(--color-b);
    background-color: var(--color-background-hover);
}

.recipeProducts {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 1rem 1rem 0;
}
.recipeSummary {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--color-border);
    padding: 1rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.recipeSummary :is(.b, .a, .r) {
    font-size: var(--font-size-small-1);
    font-weight: 600;
    padding: 0.1rem 0.8rem;
    border-radius: 50rem;
}

.bar {
    display: flex;
    gap: 1rem;
}
.b { 
    color: var(--color-b); 
    background-color: var(--color-bgr-b);
}
.a { 
    color: var(--color-a); 
    background-color: var(--color-bgr-a);
}
.r { 
    color: var(--color-r); 
    background-color: var(--color-bgr-r);
}
.k {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: var(--grey-dark);

    font-size: var(--font-size-small-1);
    font-weight: 600;
}
.kcalIcon {
    width: 1rem;
    height: 1rem;
    color: tomato;
}
.notInRange {
    background-color: #DC143C;
    color: #fff;
    box-shadow: 0px 0px 4px var(--color-admin-red);
}


@media only screen and (max-width: 375px) {
    .newRecipe {
        margin: 0.8rem 0;
    }
    .recipeProducts {
        gap: 0.3rem;
        padding: 0.8rem 0.8rem 0;
    }
    .productSearchInput {
        margin: 0.8rem;
    }
    .searchProductsList {
        width: calc(100% - 1.6rem);
    } 
    .recipeSummary {
        padding: 0.8rem;
    }
    .bar {
        gap: 0.5rem;
    }
}

@media only screen and (max-width: 320px) {
    .newRecipe {
        margin: 0.5rem 0;
    }
    .recipeProducts {
        padding: 0.5rem 0.5rem 0;
    }
    .productSearchInput {
        margin: 0.8rem 0.5rem;
    }
    .recipeSummary {
        padding: 0.8rem 0.5rem;
    }
}