:root {
    --check-stroke: 1.5px;
}

.checkbox *,
.checkbox ::after,
.checkbox ::before {
    box-sizing: border-box;
}
.checkbox {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
.checkbox .cbx {
    position: relative;
    display: block;
    float: left;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    border: var(--check-stroke) solid #bbb;
    transition: all 0.15s ease;
}
.checkbox .cbx svg {
    position: absolute;
    top: 1.5px;
    left: 1.5px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #bbb;
    stroke-width: var(--check-stroke);
    stroke-dasharray: 17;
    stroke-dashoffset: 17;
    transform: translate3d(0, 0, 0);
}
.checkbox .cbx + span {
    float: left;
    margin-left: 6px;
}
.checkbox {
    user-select: none;
}
.checkbox label {
    color: #777;
    cursor: pointer;
    display: inline-block;
    order: 2;
    font-size: 0.7rem;
    transition: color 0.1s ease-in-out;
}
.checkbox label:hover {
    color: #333;
}
.checkbox input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

.checkbox input[type="checkbox"]:checked + .cbx {
    border: var(--check-stroke) solid #30c040;
}
.checkbox input[type="checkbox"]:checked + .cbx svg {
    stroke: #30c040;
    stroke-dashoffset: 0;
    transition: all 0.15s ease;
}
