.exItem {
    color: var(--color-text-dark);    
    opacity: 0.2;
}
.onload .exItem {
    opacity: 1;
    transition: opacity 0.5s;
}

.exItem h3 {
    font-weight: 700;
    line-height: 100%;
    font-size: var(--font-d-h3-desk);
}

.exItem h4 {
    line-height: 110%;
    font-size: var(--font-d-md-desk);
    font-weight: 400;
}

@media only screen and (max-width: 576px) {
    .experienceItems { 
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 4rem;
    }

    .exItem h3 {
        font-size: var(--font-d-h3-mobi);
    }
    .exItem h4 {
        font-size: var(--fnot-h6-mobi);
    } 
}
