.experienceItem {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    opacity: 0.2;
}

.experienceItem h3 {
    color: var(--color-text-dark);
    font-weight: 700;
    line-height: 100%;
    font-size: var(--font-size-dynamic-h3-lg);
}

.experienceItem h4 {
    line-height: 110%;
    font-size: var(--font-size-dynamic-p-lg);
    font-weight: 400;
}

.experienceItem.onload {
    opacity: 1;
    transition: opacity 0.5s;
}

/* * * * * * * * * * * * * * * * * * * * * *
*         M E D I A  Q U E R I E S         *
* * * * * * * * * * * * * * * * * * * * * */

/* * * * * * * * * * * * * * * * * * * * * */
/* ---M-I-D-D-L-E---B-R-E-A-K---P-O-I-N--- */
/* * * * * * * * * * * * * * * * * * * * * */
@media only screen and (max-width: 576px) {
    .experienceContainer { 
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 4rem;
        /* width: clamp(100%, 80%, 80%); */

    }
    .experienceItem {
        justify-content: space-around;
        place-self: center;
        align-items: center;
    }

    .experienceItem h3 {
        font-size: var(--font-size-dynamic-h3-sm);
    }
    .experienceItem h4 {
        font-size: var(--font-size-dynamic-h6-sm);

    } 
}
