.navMobile {
    display: none;
    height: 0px;
}

@media only screen and (max-width: 576px) {
    .navMobile {
        display: flex;
        overflow: hidden;
        background-color: var(--white-100);
        border-top: 0.0px solid var(--neutral-grey-100);
        transition: all 0.5s ease;
    }

    .show.navMobile {
        display: flex;
        border-top: 0.5px solid var(--neutral-grey-100);
        height: calc(100dvh - var(--nav-height-60));
    }

    .navListMobile {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        padding: var(--content-padding-sm);
        flex-direction: column;
        user-select: none;
    }

    .items4 .navListMobile { grid-auto-rows: minmax(calc((100dvh - 1rem - var(--nav-height-60)) / 5), auto); }
    .items5 .navListMobile { grid-auto-rows: minmax(calc((100dvh - 1rem - var(--nav-height-60)) / 6), auto); }
}

