.profileNavContainer {
    position: relative;
}

.profileNavbar {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex; 
    gap: 0.5rem;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}
.profileNavbar::-webkit-scrollbar {
    display: none; 
} 
.leftArrow, .rightArrow {
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
}
.leftArrow {
    left: 0;
}
.rightArrow {
    right: 0;
}
.leftArrow::after {
    content: ' ';
    background-color: #ffffff00;
    background-image: linear-gradient(90deg, #ffffff, #ffffff00);
    width: 1.8rem;
}
.rightArrow::before {
    content: ' ';
    background-color: #ffffff00;
    background-image: linear-gradient(270deg, #ffffff, #ffffff00);
    width: 1.8rem;
}
.arrowBtn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 100%;
    background-color: #fff;
}
.chevronIcon {
    color: var(--color-text-green-dark);
}
.showArrow {
    display: flex;
}
.profileNavbar a {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding: 0.3rem 0.8rem;
    font-size: 0.9rem;
    border-radius: 50px;
    text-wrap: nowrap;
    font-weight: 600;
    color: var(--color-bgr-top);
    background-color: var(--color-background-secondary);
    transition: all 0.15s ease-in-out;
}

.profileNavbar a:hover:not(.active) {
    background-color: var(--color-background-hover);
}

.profileNavbar .active {
    color: var(--color-text-light);
    background-color: var(--color-bgr-top);
}

.icon {
    font-size: 1.1rem;
}
.anketa_icon {
    font-size: 1.3rem;
}

@media only screen and (max-width: 1024px) {
    .profileNavbar {
        justify-content: start; 
    }
}

@media only screen and (max-width: 375px) {
    .profileNavbar {
        gap: 0.8rem;
    }
}
@media only screen and (max-width: 320px) {
    .profileNavbar {
        gap: 0.4rem;
    }
    .profileNavbar a {
        font-size: 0.75rem;
        padding: 0.28rem 0.7rem;
    }
    .icon {
        font-size: 0.9rem;
    }
    .anketa_icon {
        font-size: 1rem;
    }
}