.answers {
    width: 100%;
    margin-bottom: var(--s-48);
}
.buttonsContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: var(--content-padding-sm);
}

@media only screen and (max-width: 576px) {
    .buttonsContainer {
        gap: var(--content-padding-sm);
    }
}

@media only screen and (max-width: 375px) {
    .answers {
        margin-bottom: var(--s-24);
    }
    .buttonsContainer {
        gap: var(--content-padding-xs);
    }
}
