.offerContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(0rem, 80vw, 28.8rem);
    padding: 2.2rem;
    gap: 1.5rem;
}

.imgContainer img {
    width: 100%; 
    border-radius: 0.4rem;
}

.textContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}
.textContainer h1 {
    font-size: var(--font-size-h3);
    color: var(--color-text-dark);
}
.textContainer p {
    color: var(--color-text-dark);
    font-size: var(--font-size-p);
}
.textContainer span {
    font-weight: 600;
}

.formGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.formGroup:has(.inputError) {
    gap: 0;
}

.formGroup input {
    font-size: var(--font-size-p);
    border: none;
    outline: 2px solid var(--color-text-dark);
    background-color: var(--color-bgr-light);
    border-radius: 2rem;
    padding: 0.5rem 2rem;
}

.formGroup button {
    font-size: var(--font-size-p);
    font-weight: 600;
    border: none;
    color: var(--color-text-dark);
    text-decoration: none;
    background-color: var(--color-btn-secondary);
    border-radius: 2rem;
    padding: 0.5rem 2rem;
    transition: background-color 0.2s ease-in-out;
}
.formGroup button:hover {
    background-color: var(--color-btn-primary);
}
.formGroup input:focus {
    outline: 2px solid var(--color-text-dark);
    transition: outline 0.1s ease;
}
.formGroup input.invalid {
    outline: 2px solid var(--color-error);
    transition: outline 0.2s ease;
}

.formGroup input.valid {
    outline: 2px solid var(--color-btn-secondary);
    transition: outline 0.2s ease;
}
.inputError {
    padding: 0.4rem 0rem 0.8rem 2rem;
    color: var(--color-error);
    font-weight: 500;
    font-size: var(--font-size-small-1);
}

@media only screen and (max-width: 576px) {
    .offerContent {
        width: 23rem;
        padding: 1.4rem;
    }
    .textContainer h1 {
        font-size: var(--font-size-dynamic-h3-sm);
        color: var(--color-text-dark);
    }
    .textContainer p {
        color: var(--color-text-dark);
        font-size: var(--font-size-dynamic-p-sm);
    }
    .formGroup {
        width: 100%;
    }
    .formGroup :is(input, button) {
        font-size: var(--font-size-p);
        padding-left: 1rem;
    }

    .inputError {
        padding: 0.3rem 0rem 0.8rem 1rem;
        font-weight: 500;
        font-size: var(--font-size-small-1);
    }
}

@media only screen and (max-width: 430px) {
    .offerContent {
        width: clamp(0rem, 81.86vw, 22rem);
        gap: 1rem;
    }

    .textContainer {
        gap: 0.5rem;
    }

    .textContainer h1 {
        font-size: var(--font-size-dynamic-h3-sm);
        color: var(--color-text-dark);
    }
    .textContainer p {
        color: var(--color-text-dark);
        font-size: var(--font-size-dynamic-h6-sm);
    }
    .formGroup {
        gap: 0.5rem;
    }
    .formGroup button {
        font-size: var(--font-size-dynamic-h6-sm);
        padding: 0.5rem 0rem;
    }
    .formGroup input {
        font-size: var(--font-size-dynamic-h6-sm);
        padding: 0.5rem 1rem;
    }
}


@media only screen and (max-width: 375px) {
    .inputError {
        padding: 0.2rem 0rem 0.6rem 1rem;
        font-size: var(--font-size-small-2);
    }
}
