:root {
	/* M-A-I-N C-O-L-O-R-S */
	--white-100: hsl(0, 0%, 100%);
	--transparent: hsla(0, 0%, 0%, 0);
	--my-hue: 145;

	--red-050: hsl(0, 85%, 99%);
	--red-100: hsl(0, 85%, 97%);
	--red-200: hsl(0, 85%, 90%);
	--red-300: hsl(0, 85%, 80%);
	--red-400: hsl(0, 85%, 65%);
	--red-500: hsl(0, 85%, 52%);
	--red-600: hsl(0, 85%, 44%);
	--red-700: hsl(0, 85%, 36%);
	--red-800: hsl(0, 85%, 28%);
	--red-900: hsl(0, 85%, 20%);

	--light-green-hover: hsla(100, 50%, 50%, 0.2);
	--light-green-050: hsl(100, 60%, 94%);
	--light-green-100: hsl(105, 51%, 90%);
	--light-green-200: hsl(100, 60%, 85%);
	--light-green-300: hsl(100, 60%, 75%);
	--light-green-400: hsl(100, 60%, 65%);
	--light-green-500: hsl(100, 60%, 60%);
	--light-green-600: hsl(100, 60%, 50%);
	--light-green-700: hsl(100, 60%, 40%);
	--light-green-800: hsl(100, 60%, 30%);
	--light-green-900: hsl(100, 60%, 20%);

	--dark-green-400: hsl(154, 41%, 30%);
	--dark-green-500: #084747;
	--dark-green-600: #082b1d;

	--neutral-050: hsl(145, 12%, 97%); // Pagrindinis puslapio fonas (beveik balta) .
	--neutral-100: hsl(145, 10%, 94%); // Antraeiliai fonai, kortelių fonas.
	--neutral-200: hsl(145, 10%, 88%); // Lengvi rėmeliai, skiriamosios linijos.
	--neutral-300: hsl(145, 8%, 78%); // Neaktyvūs mygtukai (disabled), rėmeliai.
	--neutral-400: hsl(145, 8%, 65%); // Pagalbinis tekstas, piktogramos.
	--neutral-500: hsl(145, 6%, 52%); //Vidutinio ryškumo tekstas, metaduomenys.
	--neutral-600: hsl(145, 8%, 40%); // Ryškesnis tekstas ant šviesaus fono.
	--neutral-700: hsl(145, 10%, 28%); // Pagrindinis skaitomas tekstas (Body text) .
	--neutral-800: hsl(145, 12%, 18%); // Antraštės, pėda (footer).
	--neutral-900: hsl(145, 15%, 10%); // Tamsiausi elementai, tamsus režimas.

	--neutral-grey-050: hsl(0, 0%, 98%);
	--neutral-grey-100: hsl(0, 0%, 88%);
	--neutral-grey-200: hsl(0, 0%, 82%);
	--neutral-grey-300: hsl(0, 0%, 76%);
	--neutral-grey-400: hsl(0, 0%, 67%);
	--neutral-grey-500: hsl(0, 0%, 58%);
	--neutral-grey-600: hsl(0, 0%, 50%);
	--neutral-grey-700: hsl(0, 0%, 43%);
	--neutral-grey-800: hsl(0, 0%, 35%);
	--neutral-grey-900: hsl(0, 0%, 28%);

	--light-green-grey-050: hsl(120, 7%, 98%);
	--light-green-grey-100: hsl(120, 7%, 94%);
	--light-green-grey-200: hsl(120, 7%, 90%);
	--light-green-grey-300: hsl(120, 7%, 85%);
	--light-green-grey-400: hsl(120, 7%, 78%);
	--light-green-grey-500: hsl(120, 7%, 70%);
	--light-green-grey-600: hsl(120, 7%, 60%);
	--light-green-grey-700: hsl(120, 7%, 50%);
	--light-green-grey-800: hsl(120, 7%, 40%);
	--light-green-grey-900: hsl(120, 7%, 30%);

	--cool-grey-green-040: hsl(160, 15%, 98%); /* Beveik balta su užuomina į žalumą */
	--cool-grey-green-050: hsl(160, 10%, 98%);
	--cool-grey-green-100: hsl(160, 8%, 88%);
	--cool-grey-green-200: hsl(160, 7%, 82%);
	--cool-grey-green-300: hsl(160, 6%, 76%);
	--cool-grey-green-400: hsl(160, 5%, 67%);
	--cool-grey-green-500: hsl(160, 5%, 58%);
	--cool-grey-green-600: hsl(160, 5%, 50%);
	--cool-grey-green-700: hsl(160, 6%, 43%);
	--cool-grey-green-800: hsl(160, 7%, 35%);
	--cool-grey-green-900: hsl(160, 8%, 28%); /* Tamsi pilka su miško atspalviu */

	--cool-grey-040: hsl(210, 44%, 98%);
	--cool-grey-050: hsl(208, 21%, 98%);
	--cool-grey-100: hsl(208, 21%, 88%);
	--cool-grey-200: hsl(209, 19%, 82%);
	--cool-grey-300: hsl(210, 16%, 76%);
	--cool-grey-400: hsl(209, 14%, 67%);
	--cool-grey-500: hsl(208, 12%, 58%);
	--cool-grey-600: hsl(208, 12%, 50%);
	--cool-grey-700: hsl(207, 12%, 43%);
	--cool-grey-800: hsl(208, 14%, 35%);
	--cool-grey-900: hsl(209, 15%, 28%);

	--grey-050: hsl(210, 20%, 98%); // #F9FAFB
	--grey-100: hsl(220, 14%, 96%); // #F3F4F6
	--grey-200: hsl(220, 13%, 91%); // #E5E7EB
	--grey-300: hsl(216, 12%, 84%); // #D1D5DB
	--grey-400: hsl(218, 11%, 65%); // #9CA3AF
	--grey-500: hsl(220, 9%, 46%); // #6B7280
	--grey-600: hsl(215, 14%, 34%); // #4B5563
	--grey-700: hsl(217, 19%, 27%);
	--grey-800: hsl(215, 28%, 17%);
	--grey-900: hsl(221, 39%, 11%);

	//--neutral-50: #f2f5f3; //Labai šviesus fonas
	//--neutral-100: #e2e8e4; // Rėmeliai, linijos
	//--neutral-300: #a9b7b0; // Neaktyvūs elementai
	//--neutral-500: #7a8c85; // Papildomas tekstas
	//--neutral-700: #3a4541; // Pagrindinis skaitomas tekstas
	//--neutral-900: #1f2623; // Antraštės, pėda (footer)

	// --dark-green-100: #d8f0ea;
	// --dark-green-200: #b1ded0;
	// --dark-green-300: #89c9b5;
	// --dark-green-400: #5bb198;
	// --dark-green-500: #2f8a75;
	// --dark-green-600: #1c6a57;
	// --dark-green-700: #0f4d3c;
	// --dark-green-800: #084747;
	// --dark-green-900: #082b1d;
}
