:root {
    /* S-P-A-C-I-N-G */
    --s-0: 0;
    --s-2: 0.125rem;
    --s-4: 0.25rem;
    --s-8: 0.5rem;
    --s-12: 0.75rem;
    --s-16: 1rem;
    --s-20: 1.25rem;
    --s-24: 1.5rem;
    --s-32: 2rem;
    --s-40: 2.5rem;
    --s-48: 3rem;
    --s-56: 3.5rem;
    --s-96: 6rem;
    --s-128: 8rem;

    /* N-A-V-I-G-A-T-I-O-N */
    --content-width: 64rem;
    --content-padding-lg: 2rem;
    --content-padding-sm: 1rem;
    --content-padding-xs: 0.7rem;


    --nav-height-80: clamp(60px, 7.813vw, 80px);
    --nav-height-70: 70px;
    --nav-height-60: 60px;

    /* C-O-L-O-R-S   M-A-I-N */
    --white-100: hsl(0, 0%, 100%);
    --transparent: hsla(0, 0%, 0%, 0); 
    --light-green-grey-100: hsla(120, 7%, 94%, 1.0); /* #eff1ef */
    --light-green-grey-50: hsla(120, 7%, 94%, 0.5);
    --light-green-grey-70: hsla(120, 7%, 94%, 0.7);
    --light-green-grey-80: hsla(120, 7%, 94%, 0.8);
    --light-yellow-green-30: hsla(72, 11%, 65%, 0.3);

    --light-green-500: hsl(100, 60%, 60%);
    --light-green-600: hsl(100, 50%, 50%);
    --light-green-hover: hsla(100, 50%, 50%, 0.2);
    --dark-green-500: #084747;
    --dark-green-600: #082b1d;
    
    /* C-O-L-O-R-S   N-A-V-B-A-R */
    --nav-bottom: var(--light-yellow-green-30);
    --nav-logo-dark: var(--dark-green-600);

    /* T-E-X-T  C-O-L-O-R-S */
    --text-light-100: var(--light-green-grey-100);

}

