.mainContainer {
    max-width: var(--content-width);
    margin: 0 auto;   
    display: flex;
    justify-content: space-between;
    padding: 0 var(--content-padding-lg);
}

@media only screen and (max-width: 576px) {
    .mainContainer {
        padding: 0 var(--content-padding-sm);
    }
}

@media only screen and (max-width: 375px) {
    .mainContainer {
        padding: 0 var(--content-padding-xs);
    }
}