.recipesHeader {
    background-image: url('../../../assets/images/recipes/header.webp');
    height: 230px;
    background-size: 115% auto;
    background-position: 20% 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 0.5px solid var(--grey-dark);
}
.searchContainer {
    position: relative;
    display: flex;
    margin-top: 6.5rem;
}
.searchInput {   
    width: 22rem;
    height: 2.5rem;
    border: none;
    border-radius: 50rem;
    padding: 0 2rem;
    color: var(--grey-dark);
    font-size: var(--font-size-p);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.filterBtn {
    display: none;
    align-items: center;
    border: none;
    background-color: #fff;
    height: 2.5rem;
    padding-left: 0.8rem;
    padding-right: 1rem;
    border-top-right-radius: 50rem;
    border-bottom-right-radius: 50rem;
}

.filterIcon {
    width: 1.2rem;
    height: 1.2rem;
    stroke-width: 2px;
    color: var(--grey-dark);
    transition: all 2s ease-in-out;
}
.filterOpen .filterIcon {
    fill: var(--grey-dark);
}

.searchInput::placeholder {
    color: var(--grey-dark);
}
.iconClear {
    cursor: pointer;
    position: absolute;
    color: var(--grey-dark);
    width: 1.2rem;
    height: 1.2rem;
    top: 50%;
    right: 0.8rem;
    transform: translateY(-50%);
}
.searchIcon {
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
    width: 1.2rem;
    height: 1.2rem;
    color: var(--grey-dark);
}

.signatureImg {
    margin-top: 0.4rem;
    width: 7rem;
}

@media only screen and (max-width: 768px) {
    .recipesHeader {
        background-size: 160% auto;
        background-position: 50% 60%;
    }
}
@media only screen and (max-width: 576px) {
    .recipesHeader {
        height: 180px;
    }
    .searchContainer {
        margin-top: 5rem;
    }
}
@media only screen and (max-width: 440px) {
    .recipesHeader {
        background-size: 150% auto;
        background-position: 50% 72%;
    }
    .searchInput {   
        width: clamp(0rem, 80vw, 22rem);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .filterBtn {
        display: flex;
        border-left: 1px solid var(--grey-light);
    }
    .iconClear {
        right: 3.8rem;
        width: 1.4rem;
        height: 1.4rem;
    }
}
@media only screen and (max-width: 375px) {
    .iconClear {
        right: 3.6rem;
        width: 1.2rem;
        height: 1.2rem;
    }
}