.form {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
    width: clamp(15rem, 86vw, 55rem);
}
.title { grid-column: 1 / -1; }
.description { grid-column: 1 / -1; }

.span_2 { grid-column: span 2; }
.span_4 { grid-column: span 4; }

.filterChips {
    display: flex;
    gap: 0.5rem;
    grid-column: 1 / -1;
    flex-wrap: wrap;
}

@media only screen and (max-width: 576px) {
    .form {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media only screen and (max-width: 375px) {
    .form {
        gap: 0.8rem;
    }
}
@media only screen and (max-width: 320px) {
    .form {
        gap: 0.5rem;
    }
}













