@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.kcalNum {
    font-size: 2rem;
    font-weight: 600;
    fill: var(--color-bgr-top);
    animation: fadeIn 1.2s ease-in-out;
}
.kcalNum tspan {
    font-size: 0.8rem;
}

.bar {
    font-size: 0.9rem;
    font-weight: 600;
    animation: fadeIn 1.6s ease-in-out;
}
@media only screen and (max-width: 320px) {
    .kcalNum {
        font-size: 1.5rem;
    }
    .bar tspan {
        font-size: 0.8rem;
        font-weight: 600;
    }
}