.meal {
    background-color: #fff;
    border-radius: 0.75rem;
}

.mealInner {
    cursor: pointer;
    padding: 0.8rem 0;
}

.mealHeader {
    display: grid;
    grid-template-columns: 5rem 8fr auto;
    margin-right: 0.8rem;
    align-items: center;
}
.titleContainer {
    padding-left: 0.8rem;
}

.timeLogic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 140%;
}

.timeLogic span:nth-child(1) {
    color: #999;
    font-size: var(--font-size-h6);
    justify-self: center;
}

.timeLogic span:nth-child(2) {
    font-size: var(--font-size-p);
    font-weight: 600;
}
.B_R .timeLogic span:nth-child(2) { color: var(--color-b); }
.A_B .timeLogic span:nth-child(2) { color: var(--color-a); }
.A_R .timeLogic span:nth-child(2) { color: var(--color-r); }

.titleContainer {
    display: flex;
    flex-direction: column;
    border-left: 1px solid #eee;
}
.mealTitle {
    color: var(--color-bgr-top);
    font-size: 1.1rem;
    font-weight: 600;
}

.bar {
    display: flex;
    gap: 1rem;
    color: #999;
    font-size: 0.9rem;
}

.mealHeader .icon {
    color: var(--color-bgr-top);
    transition: all 0.15s ease-in-out;
    justify-self: center;
}
.meal.show .icon {
    transform: rotate(-90deg);
}
@media only screen and (max-width: 430px) {
    .mealTitle {
        line-height: 140%;
    }
}
@media only screen and (max-width: 375px) {
    .mealHeader {
        grid-template-columns: 4rem 8fr auto;
    }
    .titleContainer {
        padding-left: 0.6rem;
    }
    .timeLogic {
        line-height: 120%;
    }
    .timeLogic span:nth-child(1) {
        font-size: 18px;
    }
    
    .timeLogic span:nth-child(2) {
        font-size: 14px;
    }

    .mealInner {
        padding: 0.5rem 0;
    }
    .mealTitle {
        font-size: var(--font-size-p);
    }
    .bar {
        font-size: var(--font-size-small-1);
    }
}