.plans {
    position: relative;
    padding: 1rem;
    width: 28rem;
    border-radius: 1.5rem;
    overflow: hidden;
    background-color: var(--color-background-secondary);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.overlay {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 400px;
    position: absolute;
    background-color: #fff;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.meals {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 4rem;
}
