.plans {
    position: relative;
    /* overflow: scroll; */
    width: 28rem;
    border-radius: 1.5rem;
    background-color: var(--color-background-secondary);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    user-select: none;
}
.planHeader {
    position: relative;
    /* overflow: hidden; */
    overflow: scroll;
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    padding: 1rem;
}

.overlay {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 400px;
    position: absolute;
    background-color: #fff;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.meals {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3.9rem;
}

@media only screen and (max-width: 440px) {
    .plans {
        width: 100%;
    }
    .overlay {
        width: 490px;
        height: 390px;
    }
}

@media only screen and (max-width: 375px) {
    .planHeader {     
        padding: 0.6rem;
    }

    .meals {
        gap: 0.6rem;
    }

    .overlay {
        width: 480px;
        height: 345px;
    }
}

@media only screen and (max-width: 320px) {
    .overlay {
        width: 390px;
        height: 295px;
    }
    .meals {
        margin-top: 3rem;
    }
}