.availablePlans {
    display: none;
    position: absolute;
    overflow: scroll;
    z-index: 1;
    top: 5.8rem;
    left: 1rem;
    background-color: var(--color-background);
    border: 1px solid #245D6B22;
    overflow: hidden;
    width: calc(100% - 2rem);
    border-radius: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    user-select: none;
    transition: all 0.15s ease-in-out;
    animation: fadeIn 0.15s ease-in-out;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.open {
    display: block;
}
.open.icon {
    transform: rotate(-90deg);
    transition: all 0.15s ease-in-out;
}

.planTitle {
    position: relative;
    cursor: pointer;
    z-index: 0;
    padding: 0.8rem;
    display: flex;
    justify-content: space-between;
    line-height: 145%;
    align-items: center;
    border-radius: 0.75rem;
    background-color: var(--color-bgr-top);
    transition: all 0.15s ease-in-out;
    user-select: none;
}
.planTitle:hover {
    background-color: #084747ee;
}
.planTitle .icon {
    color: #fff;
    font-size: 1.3rem;
    transition: all 0.15s ease-in-out;
}
.planTitle div {
    display: flex;
    flex-direction: column;
}
.planTitle span:nth-child(1) {
    color: #fff;
    font-size: var(--font-size-h6);
    font-weight: 600;
}
.planTitle span:nth-child(2) {
    color: #bbb;
    font-size: var(--font-size-small-1);
}

.availablePlan {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 0.4rem 0.8rem;
    justify-content: center;
    line-height: 140%;
}

.availablePlan .title {
    color: var(--color-bgr-top);
    font-size: 18px;
    font-weight: 600;
}

.availablePlan .bar {
    display: flex;
    gap: 0.8rem;
    color: var(--color-bgr-top);
    font-weight: 500;
    font-size: var(--font-size-small-1);
}

.availablePlan:hover {
    background-color: var(--color-background-hover);
}
.activePlan {
    background-color: #245D6B20;
}
.activePlan .title {
    color: #245D6B;
}



@media only screen and (max-width: 375px) {
    .planTitle span:nth-child(1) {
        font-size: var(--font-size-p);
    }

    .planTitle {
        padding: 0.5rem;
    }
    .availablePlans {
        top: 5rem;
        left: 0.7rem;
        width: calc(100% - 1.4rem);
    }
    .availablePlan {
        padding: 0.3rem 0.5rem;
    }
    .availablePlan .title {
        font-size: var(--font-size-p);
    }
}

@media only screen and (max-width: 320px) {
    .planTitle span:nth-child(2) {
        font-size: var(--font-size-small-2);
    }
    .planTitle div {
        line-height: 120%;
    }
    .availablePlans {
        top: 4.4rem;
    }

    .availablePlan {
        line-height: 110%;
    }

    .availablePlan .title {
        font-size: var(--font-size-p);
    }
    
    .availablePlan .bar {
        font-size: var(--font-size-small-2);
    }
}