.header {
    color: var(--dark-green-600);
}
.header .title {
    font-size: var(--font-d-h1-desk);
    letter-spacing: -2px;
    font-weight: 600;
    text-align: center;
}

.header .subTitle {
    font-size: var(--font-d-h6-desk);
    letter-spacing: 0.02em;
    text-align: center;
}

/* .OfferCards {
    grid-template-columns: repeat(
        auto-fit, 
        minmax(min(var(5000px), 100%), 1fr)
    ) !important;


} */

@media only screen and (max-width: 576px) {
    .header .title {
        font-size: var(--font-d-h2-mobi);
        line-height: 120%;
    }


    .header .subTitle {
        font-size: var(--font-d-h6-mobi);
    }
}
