.products {
    overflow: scroll;
    /* height: 550px; */
    height: calc(100dvh - 45px);
    background-color: #fff;
    /* padding: 0.5rem; */
    /* border-radius: 0.4rem; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


    