.meals {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.meal {
    margin-top: 0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.title {
    color: var(--color-bgr-top);
    font-size: 0.9rem;
    font-weight: 600;
}

.mt_05 {
    margin-top: 0.5rem;
}
.mt_1 {
    margin-top: 1rem;
}




