.timePicker {
    position: relative;
}

.card {
    border: 1.5px solid var(--color-border);
    border-radius: 0.4rem;
    padding: 0.2rem 0.3rem;
    cursor: pointer;
}

.card:hover {
    background-color: #f9fafb;
}

.card:active {
    background-color: #f3f4f6;
}

.inner {
    display: flex;
    align-items: center;
    color: #555;
}
.icon {
    padding: 0.2rem;
    display: flex;
    width: 1.2rem;
    height: 1.2rem;
    color: var(--color-radio);
}


.title {
    user-select: none;
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
    width: 2.6rem;
}

/* -S-E-L-E-C-T- -T-I-M-E- -C-A-R-D- -T-A-B-L-E- */
.selectTimeCard {
    position: fixed;
    top: 2rem;
    left: 0;
    right: 0;
    z-index: 50;
    color: var(--color-text-dark);
    background-color: #ffffff;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-radius: 1rem;
    border: 1.5px solid var(--color-border);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.15), 0 4px 6px -2px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    max-width: 24rem;
}

.header {
    padding: 1rem;
    border-bottom: 1px solid var(--color-border);
}
.header div {
    font-size: 1.125rem;
    font-weight: 600;
}

.content {
    padding: 1rem; 
}

.contentInner {
    margin-bottom: 1rem; /* Equivalent to mb-4 in Tailwind */
}

.hourHeader, .minutesHeader {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--color-radio);
    margin-bottom: 0.5rem;
}

/* ---H-O-U-R-S--- */
.hours, .minutes {
    display: grid;
    grid-template-columns: repeat(6, minmax(30px, 1fr));
    gap: 0.5rem;
}

.hour, .minute {
    cursor: pointer;
    position: relative;
    width: 100%;
    padding-top: 100%;
    border-radius: 0.5rem;
    font-size: 1rem;
    border: none;
    color: var(--color-text-dark);
    background-color: var(--color-background-secondary);
}

:is(.hour, .minute) span {
    position: absolute;
    display: grid;
    place-items: center;
    user-select: none;
    border-radius: 0.5rem;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

span:is(.activeHour, .activeMinute) {
    color: #fff;
    background-color: var(--color-bgr-top);
}


/* ---F-O-O-T-E-R--- */
.footer {
    padding: 1rem;
    border-top: 1px solid var(--color-border);
}

.footerBtn {
    width: 100%;
    padding: 1rem;
    border: none;
    background-color: var(--color-bgr-top);
    color: #ffffff;
    border-radius: 0.75rem;
    font-size: 1.125rem;
    font-weight: 500;
    transition: background-color 0.1s ease-in-out;
}

.footerBtn:hover {
    background-color: var(--color-bgr-bottom);
}

.footerBtn:active {
    background-color: var(--color-bgr-top);
}

@media only screen and (max-width: 320px) {
    .selectTimeCard .header {
        padding: 0.5rem 1rem;
    }
    .selectTimeCard .header div {
        font-size: 0.9rem;
    }
    .selectTimeCard {
        max-width: 18rem;
    }
    .hours, .minutes {
        gap: 0.3rem;
    }
    .hour, .minute {
        font-size: 0.8rem;
    }
}