.paslauga {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;
    margin-bottom: 5rem;
    opacity: 0;
    animation: fadeIn 0.2s ease-in forwards;
}
@keyframes fadeIn {
    to { opacity: 1;}
}
.right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.paslaugaImg {
    margin: 0 auto;
    width: 80%;
    object-fit: cover;
    object-position: 50% 50%;
    aspect-ratio: 4 / 5;
    /* aspect-ratio: 2 / 3; */
    border-radius: 0.5rem;
}

.paslaugaTitle {
    font-size: var(--font-size-h2);
    line-height: 120%;
    font-weight: 300;
    color: var(--color-text-green-dark);
}
.paslaugaDesc {
    font-size: var(--font-size-p);
    color: var(--color-text-grey);
    letter-spacing: 0.8px;
}
.price {
    gap: 1rem;
    line-height: 100%;
    font-size: var(--font-size-h3);
    color: var(--color-text-green-dark);
}
.wasPrice {
    margin-left: 1rem;
    color: var(--grey-dark);
    text-decoration:line-through;
    text-decoration-thickness: 1px;
    font-size: var(--font-size-h6);
}
.quantity {
    font-size: var(--font-size-p);
    color: var(--grey-dark);
}
.buyBtn {
    display: flex;
    gap: 1rem;
}
.buyBtn button {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 50rem;
    color: #fff;
    background-color: var(--color-btn-secondary);
    font-size: var(--font-size-p);
    transition: all 0.1s ease-in-out;

    @media (hover: hover) {
        &:not(:disabled):hover {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            scale: 1.02;
        }
    }
}
.buyBtn button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    opacity: 0.7;
}

@media only screen and (max-width: 768px) {
    .buyBtn {
        flex-direction: column;
    }
}


@media only screen and (max-width: 576px) {
    .paslauga {
        grid-template-columns: 1fr;
        margin-top: 1rem;
        gap: 1rem;
    }

    .paslaugaImg {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-position: center 35%;
    }

    .paslaugaTitle {
        font-size: var(--font-size-h3);
    }
    .buyBtn {
        flex-direction: row;
    }
    .buyBtn button {
        font-weight: 500;
    }
}
@media only screen and (max-width: 375px) {
    .paslauga {
        margin-bottom: 3rem;
    }
    
    .buyBtn {
        flex-direction: column;
    }
    .quantity {
        margin-top: 0.5rem;
    }
}

