.promotionCodeContainer {
    display: flex;
    position: relative;
    flex-grow: 1;
}
.applyCode {
    cursor: pointer;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 1rem;
    font-size: var(--font-size-small-1);
    font-weight: 600;
    color: var(--color-btn-secondary);
    transform: translateY(-50%) scale(0);
}

.showApplyCode {
    animation: showApply 0.3s ease-in-out forwards;
}

@keyframes showApply {
    0% {
        opacity: 0;
        transform: translateY(-50%) scale(0);
    }
    100% {
        opacity: 1;
        transform: translateY(-50%) scale(1);
    }
}

.hideApplyCode {
    opacity: 0;
    animation: hideApply 0.3s ease-in-out forwards;
}

@keyframes hideApply {
    0% {
        opacity: 1;
        transform: translateY(-50%) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(-50%) scale(0);
    }
}
input.discountCode {
    border: none;
    background-color: var(--color-background-secondary);
    border-radius: 50rem;
    min-width: 11.5rem;
    padding: 0.5rem 1rem;
    outline-offset: 0px;
    color: var(--color-text-green-dark);
    text-transform: uppercase;
    font-weight: 500;
    transition: outline 0.1s ease-in-out, flex-grow 0.2s ease-in-out;
}
.promotionError {
    position: absolute;
    top: 2.7rem;
    left: 1rem;
    font-size: var(--font-size-small-2);
    color: var(--color-text-green-dark);
}
.promotionCodeContainer:has(.promotionError) input.discountCode {
    color: red;
}
.approvedCode {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    color: #999;
}
.code {
    display: flex;
    align-items: center;
    gap: 1rem;
    /* height: 2.5rem; */
    border-radius: 50rem;
    padding: 0.5rem 1rem;
    background-color: var(--color-background-secondary);
}
.closeIcon {
    cursor: pointer;
    display: flex;
    stroke-width: 0.5rem;
    font-size: 1.3rem;
    transition: all 0.1s ease-in-out;
}
@media (hover: hover) {
    input.discountCode:not(.show):not(:focus):hover {
        cursor: pointer;
        background-color: var(--color-background-hover);
    }
}
input.discountCode:focus {
    flex-grow: 1;
    background-color: #fff;
    outline: 2px solid #60c04099;
}

input.show {
    flex-grow: 1;
    background-color: #fff;
    outline: 2px solid var(--color-border);
}
input.discountCode::placeholder {
    text-transform: lowercase;
    color: #999;
}