.loader {
    position: absolute;
    top: calc(50% - 0.6rem);
    right: 1.7rem;
    transform: translateY(-50%);
    z-index: 10;    
    opacity: 0.7;
    
    width: 1.2rem;
    height: 1.2rem;
    border: 0.2rem solid #bbb;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
