.container {
    max-width: var(--content-width);
    padding: 0 var(--content-padding-lg);
    margin: 0 auto;
}

@media only screen and (max-width: 576px) {
    .container {
        padding: 0 var(--content-padding-sm);
    }
}