.videos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
    .videos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 576px) {
    .videos {
        grid-template-columns: 1fr;
        /* gap: 0.5rem; */
    }
}