.adminLayout {
    min-height: 100vh;
    display: flex;
    background-color: #f9fafb;
}

.aside {
    background-color: aliceblue;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 256px;
}