.nav {
    position: fixed;
    z-index: 10;
    width: 100%;
    transition: all .3s ease;
}

.navHomeNotScroll {
    background-color: var(--color-bgr-top);
    color: var(--color-text-light);
}
.navHomeAndScroll {
    background-color: var(--color-background);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0.5px 10px 0px;
}
.navNotHomeNotScroll {
    background-color: var(--color-background);
    border-bottom: 0.5px solid #a7aba644;
}
.navNotHomeAndScroll {
    background-color: var(--color-background);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0.5px 10px 0px;
    border-bottom: 0.5px solid #a7aba644;
}

.navContainer {
    height: var(--nav-height-80); 
    align-items: center;
    font-size: var(--font-size-dynamic-h6-lg);
    font-weight: 300;
    
}
.navContainerMobile {
    display: none;
    height: 0px;
}

.navList {
    display: flex;
    align-items: center;
    gap: 3.125vw;
    user-select: none;
}
.senasBezalos {
    text-align: center;
}
.senasBezalos a {
    border: none;
    border-radius: 0.2rem;
    padding: 0.1rem 0.6rem;
    font-size: var(--font-size-dynamic-p-lg);
    font-weight: 600;
    color: var(--color-text-dark);
    background-color: var(--color-btn-secondary);
}

.hamburger {
    height:50%;
    display: none;
}
.navHomeNotScroll :is(.burgerTop, .burgerMiddle, .burgerBottom) {
    border-bottom: 2px solid var(--color-background);
}
:is(.navHomeAndScroll, .navNotHomeNotScroll, .navNotHomeAndScroll) 
:is(.burgerTop, .burgerMiddle, .burgerBottom) {
    border-bottom: 2px solid var(--color-text-dark);
}
.burgerTop, .burgerMiddle, .burgerBottom {
    position: absolut;
    width: 2.2rem;
    transition: all 0.5s;
}
.burgerTop { transform: translateY(-0.6rem); }
.burgerBottom { transform: translateY(0.6rem); }

.openBurger .burgerTop { transform: translateY(0.15rem) rotate(45deg); }
.openBurger .burgerMiddle { width: 0; }
.openBurger .burgerBottom { transform: translateY(-0.1rem) rotate(-45deg); }

.logoSvg {
    width: 6.25rem;
    height: var(--nav-height-80);
} 

.listItem {
    position: relative;
}

.loginBtn {
    border: none;
    height: 2.5rem;
    font-size: var(--font-size-dynamic-h6-lg);
    color: var(--color-btn-primary);
    font-weight: 600;
    background-color: #00000000;
    transition: background 0.07s ease-out;
}

:is(.navHomeAndScroll, .navNotHomeNotScroll, .navNotHomeAndScroll) .loginBtn { 
    color: var(--color-btn-secondary);
}

.navHomeNotScroll .loginBtn:hover { 
    color: var(--color-btn-secondary);
}
:is(.navHomeAndScroll, .navNotHomeNotScroll, .navNotHomeAndScroll) .loginBtn:hover {
    color: var(--color-btn-primary);
} 

.indicator {
    position: absolute;
    border-radius: 50px;
    margin-top: -2px;
    height: 1.2px;
    width: 0px;
    transition: all 0.2s ease-in-out;
}
.navHomeNotScroll .indicator { background-color: var(--color-text-light); }
:is(.navHomeAndScroll, .navNotHomeNotScroll, .navNotHomeAndScroll)  .indicator {
    background-color: var(--color-text-dark);
}

.listItem {
    cursor: pointer;
}
.listItem:hover .indicator {
    width: 100%;
    transition: all 0.2s ease-in-out;
}
:global(.active) ~ .indicator {
    width: 100%;
}

@media only screen and (max-width: 576px) {
    .nav { 
        width: var(--content-width-responsive);
        height: var(--nav-height-70);
    }
    .navContainer {
        height: var(--nav-height-70);
    }
    .logoSvg {
        margin-right: 1rem;
        width: 6rem;
        height: var(--nav-height-70);
    } 
    .navList {
        display: none;
        gap: var(--content-padding);
    }
    .senasBezalos {
        display: none;
    }
    .hamburger {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .navContainerMobile {
        display: flex;
        overflow: hidden;
        background-color: var(--color-background); 
        border-top: 0px solid var(--color-bgr-top);
        transition: all 0.5s ease-in-out;
    }

    .show.navContainerMobile {
        border-top: 0.5px solid #00000055;
        height: calc(100dvh - var(--nav-height-60));
        transition: height 0.5s ease;
    }

    .navListMobile {
        width: 100%;
        display: flex;
        padding: var(--content-padding-sm);
        flex-direction: column;
        user-select: none;
    }

    .listItemMobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--color-bgr-bottom);
        flex-grow: 1;
        gap: 0.3rem;
    }
    
    .listItemMobile.active {
        border-radius: 2rem;
        background: var(--color-background-secondary);
        /* box-shadow: inset 5px 5px 10px #d5d6d5, inset -5px -5px 10px #ffffff;             */
    }

    .listItemMobile.active :is(span, a) {
        color: var(--color-btn-secondary);
    }

    .listItemMobile :is(span, a) {
        font-size: var(--font-size-dynamic-h5-sm);
        font-weight: 500;
    }
    .listItemMobile .icon {
        width: clamp(0rem, 11.163vw, 3rem);
    }
}

@media only screen and (max-width: 430px) {
    .nav { 
        width: var(--content-width-responsive);
        height: var(--nav-height-60);
    }
    .navContainer {
        height: var(--nav-height-60);
    }
}
@media only screen and (max-width: 375px) {
    .burgerTop, .burgerMiddle, .burgerBottom {
        width: 2rem;
    }

    .burgerTop { transform: translateY(-0.5rem); }
    .burgerBottom { transform: translateY(0.5rem); }
}