.educationSection {

}
.item {
    color: var(--dark-green-600);
}

.item svg {    
    width: var(--font-d-h1-desk);
    height: var(--font-d-h1-desk);
}

.item .label {
    font-size: var(--font-d-h6-desk);
    font-weight: 500;
}

@media only screen and (max-width: 1024px) {
    .item span {
        /* max-width: 140px */
    }
}

@media only screen and (max-width: 768px) {
    .item span {
        /* max-width: 110px; */
    }
}


@media only screen and (max-width: 576px) {
    .item:is(:nth-child(1), :nth-child(2)) {
        padding-bottom: var(--s-xl-mobi);
    }
    .item svg {    
        width: var(--font-d-h1-mobi);
        height: var(--font-d-h1-mobi);
    }

    .item .label {
        min-width: clamp(0rem, 41.667vw, 15rem);
        text-align: center;
        font-size: var(--font-d-h6-mobi);
    }
}

@media only screen and (max-width: 576px) {
}