.recipeList {
    margin-top: 1rem;   
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 14.2rem);
    justify-content: center;
    gap: 1rem;
}

@media only screen and (max-width: 768px) {
    .recipeList {
        grid-template-columns: repeat(auto-fill, 14rem);
    }
}

@media only screen and (max-width: 576px) {
    .recipeList {
        grid-template-columns: repeat(auto-fill, 15rem);
    }
}

@media only screen and (max-width: 440px) {
    .recipeList {
        grid-template-columns: repeat(auto-fill, 20rem);
    }
}

@media only screen and (max-width: 375px) {
    .recipeList {
        grid-template-columns: repeat(auto-fill, 15rem);
    }
}

@media only screen and (max-width: 320px) {
    .recipeList {
        grid-template-columns: repeat(auto-fill, 15rem);
    }
}