.offerSent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-background);
    border-radius: 0.8rem;
    padding: 2.2rem;
    gap: 1rem;
    animation: offerSent 0.2s ease-in-out;
}

.offerSent p {
    text-align: center;
}

@media only screen and (max-width: 440px) {
    .offerSent {
        h1 {
            font-size: var(--font-size-dynamic-h3-sm);
        }
        p {
            font-size: var(--font-size-dynamic-h5-sm);
        }
    }
}

@keyframes offerSent {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
}