.top img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

.bottom {
    padding: 1rem;
    padding-bottom: 2rem;
    background-color: var(--color-background);
}

.offerContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
}
.offerContainer h1 {
    color: var(--color-text-green-dark);
    font-size: var(--font-size-h5);
}
.offerContainer p {
    color: var(--color-text-dark);
    font-size: var(--font-size-p);
}

.formContainer {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
    gap: 1rem;
}
.formContainer:has(.inputError) {
    gap: 0;
}

.formContainer input {
    font-size: var(--font-size-p);
    border: none;
    outline: 2px solid var(--color-text-dark);
    background-color: var(--color-bgr-light);
    border-radius: 2rem;
    padding: 0.5rem 2rem;
}

.formContainer button {
    font-size: var(--font-size-p);
    font-weight: 600;
    border: none;
    color: var(--color-text-dark);
    text-decoration: none;
    background-color: var(--color-btn-secondary);
    border-radius: 2rem;
    padding: 0.5rem 2rem;
    transition: background-color 0.2s ease-in-out;
}
.formContainer button:hover {
    background-color: var(--color-btn-primary);
}
.formContainer input:focus {
    outline: 2px solid var(--color-text-dark);
    transition: outline 0.1s ease;
}
.formContainer input.invalid {
    outline: 2px solid var(--color-error);
    transition: outline 0.2s ease;
}

.formContainer input.valid {
    outline: 2px solid var(--color-btn-secondary);
    transition: outline 0.2s ease;
}
.inputError {
    padding: 0.4rem 0.8rem;
    color: var(--color-error);
    font-weight: 500;
    font-size: var(--font-size-small-1);
}

@media only screen and (max-width: 576px) {
    .offerContainer h1 {
        font-size: var(--font-size-dynamic-h5-sm);
        color: var(--color-text-dark);
    }
    .offerContainer p {
        color: var(--color-text-dark);
        font-size: var(--font-size-dynamic-p-sm);
    }

    .formContainer :is(input, button) {
        font-size: var(--font-size-p);
        padding-left: 1rem;
    }

    .inputError {
        padding: 0.3rem 0rem 0.8rem 1rem;
        font-weight: 500;
        font-size: var(--font-size-small-1);
    }
}

@media only screen and (max-width: 440px) {
    .offerContainer {
        margin-bottom: clamp(0rem, 7.2vw, 2rem);
    }

    .offerContainer {
        gap: 0.5rem;
    }

    .offerContainer h1 {
        font-size: var(--font-size-dynamic-h4-sm);
        color: var(--color-text-dark);
    }
    .offerContainer p {
        color: var(--color-text-dark);
        font-size: var(--font-size-dynamic-h6-sm);
    }
    .formContainer button {
        font-size: var(--font-size-dynamic-h6-sm);
        padding: 0.5rem 0rem;
    }
    .formContainer input {
        font-size: var(--font-size-dynamic-h6-sm);
        padding: 0.5rem 1rem;
    }
}


@media only screen and (max-width: 375px) {
    .formContainer {
        gap: 0.8rem;
    }

    .inputError {
        font-size: var(--font-size-small-2);
    }
}
