.accordionItem {
    cursor: pointer;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    border-left: 3px solid #878b8655;
}
.accordionItem.open {
    background-color: #e7e7e7;
    border-left: 3px solid var(--color-btn-secondary);
}
.topLine {
    border-bottom: 0.8px solid #878b8655;
}

.policies {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
    padding-bottom: 1rem;
}
