.PirkimoTaisyklesHeader {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}
.PirkimoTaisyklesHeader h1 {
    color: #082b1dcc;
    font-size: var(--font-size-dynamic-h3-lg);
    font-weight: 500;
}

@media only screen and (max-width: 576px) {
    .PirkimoTaisyklesHeader h1{
        font-size: var(--font-size-dynamic-h4-sm);
        font-weight: 600;
    }
}