.pirkimoTaisyklesFooter {
    margin-top: 3rem;
    margin-bottom: 2rem;
}


.footerDivider {
    border-bottom: 0.8px solid #44444455;
    margin: clamp(0rem, 0.938vw, 0.6rem) 0rem clamp(0rem, 0.938vw, 0.6rem) 0rem;
}

.footerBottom {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: var(--color-text-dark);
    font-size:  var(--font-size-dynamic-h6-lg);
    line-height: 150%;
}
.copy {
    font-size: var(--font-size-dynamic-h4-lg);
    font-weight: 400;
}

.icon {
    font-size: clamp(0.5rem, 4.688vw, 3rem);
    color: var(--color-text-dark);
}


@media only screen and (max-width: 576px) {
   

    .footerDivider {
        margin-top: 1rem;
        margin-bottom: 0;
    }

    .footerBottom {
        display: flex;
        height: clamp(0rem, 12.153vw, 4.375rem);
        justify-content: center;
        font-size: var(--font-size-dynamic-h6-sm);
        font-weight: 500;
    }

    .copy {
        font-size: var(--font-size-dynamic-h4-sm);
        font-weight: 500;
    }

}



