.policy {
    display: flex;
    align-items: start;
    gap: 0.5rem;
    
}
.policy {
    font-size: var(--font-size-p);
    color: #082b1dcc;
}

.policy span {
    line-height: 100%;
    font-size: var(--font-size-h5);
}

.reasons {
    margin: 0.5rem 0;
    margin-left: 2.5rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}
.reason {
    display: flex;
    gap: 0.5rem;
}
.reason .text {
    color: #082b1dcc;
}

/* @media only screen and (max-width: 576px) {
    
} */