.carouselContainer {
    width: 100%;
    max-width: var(--content-width);
    margin: 0 auto;
    overflow: hidden;
}
  
.carouselTrack {
    display: flex;
}
  
.carouselItem {
    flex-shrink: 0;
    padding: 0.5rem;
}

@media only screen and (max-width: 440px) {
    .carouselItem {
        /* padding: 0.5rem 0.25rem; */
    }
}
