.favRecipe {
    position: relative;
    display: flex;
    height: 6rem;
    background-size: cover;
    background-position: 50% 20%;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.favRecipe::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* background-color: rgba(255, 255, 255, 0.2); */
    /* background-color: rgba(0, 0, 0, 0.0); */
    /* background: linear-gradient(180deg, rgba(225, 225, 225, 0.0) 70%, rgba(255, 255, 255, 0.5) 30%); */
}

.image {
    width: 100%;
    height: 5rem;
    object-fit: cover;
    /* object-position: 50% 10%; */
    aspect-ratio: 1 / 1;
}
.details {
    z-index: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    flex: 1;
}
.title {
    font-size: var(--font-size-small-1);
    /* color: #fff; */
    /* background-color: #00000077; */
    /* color: #000; */
    /* background-color: #ffffffaa; */
    font-weight: 600;
    border-radius: 0.4rem;
    padding: 0.1rem 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.duration {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: var(--font-size-small-1);
    
}
.duration div {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    border-radius: 0.4rem;
    padding: 0.0rem 0.5rem;
    background-color: #ffffffaa;
    
}
.time {
    /* flex: 1; */
    
}

.iconClock, .iconHeart {
    display: block;
    stroke-width: 2.5px;
    width: 1rem;
    stroke: #000;
    /* stroke: #fff; */
}
.iconHeart {
    fill: #000;
    /* fill: #fff; */
}

.title, .duration div {
    color: #000;
    background-color: #ffffff88;

        /* color: #fff; */
    /* background-color: #00000077; */
}