.favRecipe {
    position: relative;
    display: flex;
    height: 6.5rem;
    background-size: cover;
    background-position: 50% 20%;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.favRecipe::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(128, 128, 128, 0.3);
    background-color: rgba(0, 0, 0, 0.2);
    /* background: linear-gradient(180deg, rgba(225, 225, 225, 0.0) 70%, rgba(255, 255, 255, 0.5) 30%); */
}

.image {
    width: 100%;
    height: 5rem;
    object-fit: cover;
    /* object-position: 50% 10%; */
    aspect-ratio: 1 / 1;
}
.details {
    z-index: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    flex: 1;
}
.title {
    font-size: var(--font-size-p);
    color: #fff;
    /* color: #000; */
    font-weight: 600;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.duration {
    display: flex;
    align-items: end;
    gap: 0.5rem;
    color: #fff;
    font-weight: 600;
}
.time {
    flex: 1;
}

.iconClock, .iconHeart {
    display: block;
    stroke: #fff;
    stroke-width: 2.5px;
    width: 1.2rem;
}
.iconHeart {
    fill: #fff;
}