.recipes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
    to { opacity: 1; }
}
@media only screen and (max-width: 768px) {
    .recipes {
        gap: 0.6rem;
    }
}
@media only screen and (max-width: 576px) {
    .recipes {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.8rem;
    }
}

@media only screen and (max-width: 440px) {
    .recipes {
        justify-content: center;
        grid-template-columns: repeat(auto-fill, 20rem);
    }
}

@media only screen and (max-width: 375px) {
    .recipes {
        grid-template-columns: repeat(auto-fill, clamp(0rem, 85.333vw, 20rem));
    }
}