.userRow {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr 1fr;
    align-items: center;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.headerRow div {
    font-weight: 700;
}
.userRow div {
    font-size: var(--font-size-dynamic-small-1-lg);
}

.naryste span {
    border-radius: 4px;
    padding: 0.3rem 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.naryste :global(.free) {
    background-color: #CCCDC6;
}

.naryste :global(.Virtuvė) {
    color: var(--color-text-light);
    background-color: #476930;
    
}
.naryste :global(.Profilis) {
    color: var(--color-text-light);
    background-color: #245D6B;
}

.dateInput input[type='date'], .dateSelect {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.3rem 0.5rem;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.dateInput ::-webkit-calendar-picker-indicator { 
    cursor: pointer;
    background-color: white; 
    padding: 0.2rem;
    border-radius: 5px;
}

.colorDanger  {
    color: white;
    background-color: #EB3E1B;
}

.colorWarning {
    color: white;
    background-color: #FFA500;
}

@media only screen and (max-width: 768px) {
    .userRow {
        grid-template-columns: 0.8fr 1.5fr 1fr 1fr 1fr 1fr;
        /* grid-template-rows: 1fr 1fr; */
    }

    .dateInput input[type='date'], .dateSelect {
        padding: 0.2rem 0.4rem;
        font-size: var(--font-size-dynamic-small-2-sm);
    }
}

@media only screen and (max-width: 576px) {
    .userRow {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .name {

    }
}
/*
@media only screen and (max-width: 375px) {
    .userRow {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
} */

/* inpute date edit:  */
/* https://stackoverflow.com/questions/14946091/are-there-any-style-options-for-the-html5-date-picker */