.userRow {
    display: grid;
    grid-template-columns: 0.7fr 1.5fr 0.5fr 1fr 1fr 1fr 1fr 0.2fr;
    align-items: center;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.headerRow div {
    font-weight: 700;
}
.headerRow span {
    cursor: pointer;
}
.userRow div {
    font-size: var(--font-size-dynamic-small-1-lg);
}

.naryste span {
    border-radius: 4px;
    padding: 0.3rem 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.naryste .free {
    background-color: #CCCDC6;
}

.naryste .Virtuvė {
    color: var(--color-text-light);
    background-color: #467F8D;
}
.naryste .Profilis {
    color: var(--color-text-light);
    /* background-color: #245D6B; */
}

.dateInput input[type='date'], .dateSelect {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.3rem 0.5rem;
    border-radius: 4px;
    font-size: var(--font-size-dynamic-small-1-lg);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

.dateInput ::-webkit-calendar-picker-indicator { 
    cursor: pointer;
    background-color: white; 
    padding: 0.2rem;
    border-radius: 5px;
}

.colorDanger  {
    color: white;
    background-color: #EB3E1B;
    background-color: #FF5C5C;
    background-color: #FF000088;
}
.colorWarning {
    color: white;
    background-color: #FFA500BB;
}
.colorSuccess {
    color: white;
    background-color: #03C03C;
    background-color: #50C878;
    /* background-color: #D0F0C0; */
}

input[name='support_over'] {
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .userRow {
        grid-template-columns: 0.8fr 1.5fr 0.5fr 1fr 1fr 1fr 1fr 0.2fr;
        /* gap: 0.5rem; */
    }

    .naryste span {
        border-radius: 4px;
        padding: 0.2rem 0.3rem;
        font-size: var(--font-size-dynamic-small-1-lg);
    }
    .dateInput input[type='date'], .dateSelect {
        padding: 0.2rem 0.3rem;
        font-size: var(--font-size-dynamic-small-1-lg);
    }
}

@media only screen and (max-width: 576px) {
    .userRow {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .name {

    }
}
/*
@media only screen and (max-width: 375px) {
    .userRow {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
} */

/* inpute date edit:  */
/* https://stackoverflow.com/questions/14946091/are-there-any-style-options-for-the-html5-date-picker */