.filters {
    overflow: scroll;    
    display: flex;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    margin: 0.8rem 0.8rem 0 0.8rem;
    gap: 0.8rem;
    padding-bottom: 0.8rem;
    grid-area: 1 / 2 / 2 / -1;
}
.filters::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.filters div {
    cursor: pointer;
    text-wrap: nowrap;
    font-size: var(--font-size-small-1);
    font-weight: 600;
    /* background-color: var(--color-filter-btn); */
    background-color: var(--color-background-secondary);
    color: var(--color-text-dark);
    border-radius: 10rem;
    padding: 0.4rem 1rem;
    transition: background-color 0.2s ease;
}
.filters div:hover:not(.active) {
    background-color: var(--color-filter-btn-hover);
}

.filters .active {
    background-color: var(--color-text-dark);
    color:  var(--color-filter-btn);
}

@media only screen and (max-width: 576px) {
    .filters {
        margin-left: 0;
        grid-area: 1 / 1 / 2 / 3;
    }
}

@media only screen and (max-width: 375px) {
    .filters {
        margin-top: var(--content-padding-xs);
        margin-right: var(--content-padding-xs);
        padding-bottom: var(--content-padding-xs);
        gap: var(--content-padding-xs);
    }

    .filters div {
        padding: 0.4rem var(--content-padding-xs);
    }
}