.list {
    margin-top: 1rem;
    padding: 0 1rem 1rem;
    grid-row: 1 / 3;
    height: 159vh;
    overflow: scroll;
    gap: 1rem;
    grid-area: 2 / 2 / 8 / -1;
}

@media only screen and (max-width: 576px) {
    .list {
        padding-left: 0;
        overflow: visible;
        grid-area: 5 / 1 / 6 / 3;
    }
}