.listCard {
    border-radius: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.imageContainer {
    position: relative;
}

.image {
    display: block;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.icon {
    position: absolute;
    font-size: clamp(0rem, 4.688vw, 3rem);
    color: #eff1efaa;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.duration {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    color: var(--color-text-dark);
    background-color: #eff1efcc;
    border-radius: 10rem;
    padding: 0.1rem 0.5rem;
    font-size: var(--font-size-dynamic-small-1-lg);
    font-weight: 600;
    bottom: 6%;
    left: 3%;
}

.cardBottom {
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.title {
    font-size: var(--font-size-dynamic-p-lg);
    font-weight: 600;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 1; 
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.cardFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.category {
    font-size: var(--font-size-dynamic-small-1-lg);
    font-weight: 600;
}

.category span {
    color: var(--color-bgr-light);
    background-color: var(--color-radio);
    padding: 0.1rem 0.5rem;
    border-radius: 1rem;
}

.created_at {
    font-size: var(--font-size-dynamic-p-lg);
    color: var(--color-radio);
}

@media only screen and (max-width: 768px) {
    .created_at {
        font-size: var(--font-size-dynamic-small-1-lg);
    }
}
@media only screen and (max-width: 576px) {
    .cardBottom {
        gap: clamp(0rem, 2.778vw, 1rem);
        padding: clamp(0rem, 2.778vw, 1rem);
    }
    .duration {
        padding: 0.1rem 0.5rem;
        font-size: var(--font-size-dynamic-p-sm);
        font-weight: 600;
    }
    .title {
        font-size: var(--font-size-dynamic-h5-sm);
    }

    .category {
        font-size: var(--font-size-dynamic-h6-sm);
        font-weight: 600;
    }

    .created_at {
        font-size: var(--font-size-dynamic-p-sm);
        color: var(--color-radio);
    }
}

@media only screen and (max-width: 375px) {
    .cardBottom {
        gap: clamp(0rem, 4.267vw, 1rem);
        /* padding: clamp(0rem, 2.778vw, 1rem); */
    }
    .duration {
        /* padding: 0.1rem 0.5rem; */
        /* font-size: var(--font-size-dynamic-p-sm); */

    }
    .title {
        font-size: var(--font-size-dynamic-h4-sm);
    }

    .category {
        font-size: var(--font-size-dynamic-h5-sm);
    }

    .created_at {
        font-size: var(--font-size-dynamic-h6-sm);
    }
}