.list {
    padding: 0 1rem 1rem;
    grid-row: 1 / 3;
    gap: 1rem;
    grid-area: 2 / 2 / 8 / -1;
}

@media only screen and (max-width: 576px) {
    .list {
        height: 100dvh;
        padding-left: 0;
        padding-top: 1rem;
        grid-area: 5 / 1 / 6 / 3;
    }
}

@media only screen and (max-width: 375px) {
    .list {
        padding-right: var(--content-padding-xs);
    }
}