.listCard {
    /* margin: 1rem; */
    border-radius: 0.55rem;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}

.image {
    width: 100%;
    border-radius: 0.55rem;
}

.title {
    margin-top: 0.2rem;
    font-size: var(--font-size-dynamic-p-lg);
    font-weight: 600;

    overflow: hidden;
    display: -webkit-box;
    line-clamp: 1; 
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}