.video {
    margin-top: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    grid-area: 1 / 1 / 5 / 2;
    animation: fadeIn 0.7s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.video video {
    background-image: url('../../assets/images/virtuve/video_cover.webp');
    background-size: cover;
    display: block;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.cardBottom {
    display: flex;
    flex-direction: column;
    gap: clamp(0rem, 1.563vw, 1rem);
    padding: clamp(0rem, 1.563vw, 1rem) clamp(0rem, 1.563vw, 1rem) 0;
}

.title {
    font-weight: 600;
    font-size: var(--font-size-dynamic-h5-lg);
    line-height: 130%;
}
.showMore {
    color: var(--color-radio-border);
    font-size: var(--font-size-dynamic-small-1-lg);
    text-decoration: underline;
    cursor: pointer;
}
.description {
    font-size: var(--font-size-dynamic-p-lg);
}

.divider {
    width: 100%;
    border-bottom: 1px solid #a7aba677;
}

.commentsLikesHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.commentsCount {
    cursor: pointer;
    font-size: var(--font-size-dynamic-p-lg);
    font-weight: 600;
}

.like {
    padding: clamp(0rem, 0.313vw, 0.2rem) clamp(0rem, 1.25vw, 0.8rem);
    border-radius: 10rem;
    background-color: #a7aba666;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: var(--font-size-dynamic-p-lg);
    transition: all 0.2s ease;
}

.like:hover {
    cursor: pointer;
    background-color: #a7aba699;
}

.avatar {
    display: grid;
    place-items: center;
    width: clamp(0rem, 3.906vw, 2.5rem);
    height: clamp(0rem, 3.906vw, 2.5rem);
    border-radius: 100%;
    background-color: #a7aba699;
}
.userName {
    color: var(--color-text-dark);
    font-weight: 300;
    font-size: var(--font-size-dynamic-h6-lg);
}

.writeComment {
    display: flex;
    gap: clamp(0rem, 1.563vw, 1rem);
    /* width: 100%; */
}
.writeCommentForm {
    /* width: 100%; */
    display: flex;
    flex-grow: 1;
    /* padding-left: clamp(0rem, 1.563vw, 1rem); */
}
.writeCommentForm input {
    flex-grow: 1;
    border: none;
    outline: none;
    background: none;
    border-radius: 10rem;
    padding-left: clamp(0rem, 1.563vw, 1rem);
    border: 1px solid #a7aba677;
    font-size: var(--font-size-dynamic-small-1-lg);
}

.comments {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    /* animation: slideDown 1s; */
}

.show.comments {
    overflow: scroll;
    /* height: 100dvh; */
    height: 300px;
    opacity: 1;
}

@keyframes slideDown {
    from {
        height: 0px;
      /* transform: translateY(-100%); */
      /* opacity: 0; */
    }
    to {
        height: 100px;
      /* transform: translateY(0); */
      /* opacity: 1; */
    }
}

@media only screen and (max-width: 576px) {
    .video {
        margin-top: 0.5rem;
        margin-right: 1rem;
        grid-area: 2 / 1 / 3 / 3;
    }

    .title {
        font-size: var(--font-size-dynamic-h4-sm);
    }
    .description {
        font-size: var(--font-size-dynamic-h6-sm);
    }
    .showMore {
        font-size: var(--font-size-dynamic-h6-sm);
    }

    /*- - -C-A-R-D---B-O-T-T-O-M- - -*/
    .cardBottom {
        /* gap: 1rem; */
        /* padding: clamp(0rem, 1.563vw, 1rem) clamp(0rem, 1.563vw, 1rem) 0; */
        padding: clamp(0rem, 2.778vw, 1rem) clamp(0rem, 2.778vw, 1rem) 0;
    }
    .writeComment {
        /* gap: 1rem; */
    }
    .commentsCount {
        cursor: pointer;
        font-size: var(--font-size-dynamic-p-sm);
        font-weight: 600;
    }
    .like {
        padding: clamp(0rem, 0.556vw, 0.2rem) clamp(0rem, 2.222vw, 0.8rem);
        /* gap: 0.5rem; */
        font-size: var(--font-size-dynamic-p-sm);
    }



    .avatar {
        width: clamp(0rem, 5.556vw, 2rem);
        height: clamp(0rem, 5.556vw, 2rem);
    }
    .userName {
        
        font-weight: 400;
        font-size: var(--font-size-dynamic-p-sm);
    }

    .writeCommentForm {
        /* padding-left: clamp(0rem, 1.563vw, 1rem); */
        /* paddig */
    }
    .writeCommentForm input {
        /* padding-left: clamp(0rem, 1.563vw, 1rem); */
        font-size: var(--font-size-dynamic-small-2-sm);
    }
}