.video {
    margin-top: 1rem;
    border-radius: 1rem;
    animation: fadeIn 0.7s;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    grid-area: 1 / 1 / 5 / 2;
}
.video video {
    background-image: url('../../assets/images/virtuve/video_cover.webp');
    background-size: cover;
    display: block;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.cardBottom {
    display: flex;
    flex-direction: column;
    gap: clamp(0rem, 1.563vw, 1rem);
    padding: clamp(0rem, 1.563vw, 1rem);
}

.title {
    font-weight: 600;
    font-size: var(--font-size-dynamic-h6-lg);
    line-height: 130%;
}
.showMore {
    color: var(--color-radio-border);
    font-size: var(--font-size-dynamic-small-1-lg);
    text-decoration: underline;
    cursor: pointer;
}
.description {
    
    /* margin-top: 0.8rem; */
    
    font-size: var(--font-size-dynamic-small-1-lg);
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media only screen and (max-width: 768px) {
    .video {
        /* margin-top: 0.5rem; */
    }
}

@media only screen and (max-width: 576px) {
    .video {
        margin-right: 1rem;
        grid-area: 2 / 1 / 3 / 3;
    }
}