.video {
    margin-top: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    grid-area: 1 / 1 / 5 / 2;
    animation: fadeIn 0.7s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.video video {
    background-image: url('../../assets/images/virtuve/video_cover.webp');
    background-size: cover;
    display: block;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.cardBottom {
    display: flex;
    flex-direction: column;
    gap: clamp(0rem, 1.563vw, 1rem);
    padding: clamp(0rem, 1.563vw, 1rem) clamp(0rem, 1.563vw, 1rem) 0;
}

.title {
    font-weight: 600;
    font-size: var(--font-size-dynamic-h5-lg);
    line-height: 130%;
}
.showMore {
    margin-top: 0.5rem;
    color: var(--color-radio-border);
    font-size: var(--font-size-dynamic-small-1-lg);
    text-decoration: underline;
    cursor: pointer;
}
.descriptionContainer div {
    font-size: var(--font-size-dynamic-p-lg);
}

.description {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.2s ease-in-out;
}

.descriptionInner {
    overflow: hidden;
}
.descriptionInner li {
    font-size: var(--font-size-dynamic-p-lg);
}
.show.description {
    grid-template-rows: 1fr;
}

.divider {
    width: 100%;
    border-bottom: 1px solid #a7aba677;
}

.commentsLikesHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.commentsCount {
    cursor: pointer;
    font-size: var(--font-size-dynamic-p-lg);
    font-weight: 600;
}

.like {
    padding: clamp(0rem, 0.625vw, 0.4rem) clamp(0rem, 1.563vw, 1rem);
    border-radius: 10rem;
    background-color: #a7aba666;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: var(--font-size-dynamic-p-lg);
    transition: all 0.2s ease;
}

.like:hover {
    cursor: pointer;
    background-color: #a7aba699;
}

.avatar {
    display: grid;
    place-items: center;
    width: clamp(0rem, 3.906vw, 2.5rem);
    height: clamp(0rem, 3.906vw, 2.5rem);
    border-radius: 100%;
    background-color: #a7aba699;
    color: var(--color-text-dark);
    font-weight: 300;
    font-size: var(--font-size-dynamic-h6-lg);
}
.writeComment {
    /* margin-bottom: clamp(0rem, 3.125vw, 2rem); */
    display: flex;
    gap: clamp(0rem, 1.563vw, 1rem);
}
.writeCommentForm {
    position: relative;
    display: flex;
    flex-grow: 1;
}
.writeCommentForm input {
    flex-grow: 1;
    border: none;
    outline: none;
    background: none;
    border-radius: 10rem;
    padding-left: clamp(0rem, 1.563vw, 1rem);
    padding-right: clamp(0rem, 4.688vw, 3rem);
    outline: 1px solid #a7aba677;
    font-size: var(--font-size-dynamic-small-1-lg);
    transition: outline 0.2s  ease-in-out;
}
.writeCommentForm input:focus {
    outline: 1px solid #a7aba6;
}
.writeCommentForm .icon {
    cursor: pointer;
    width: clamp(0rem, 2.656vw, 1.7rem);
    height: clamp(0rem, 2.656vw, 1.7rem);
    right: clamp(0rem, 1.094vw, 0.7rem);
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}
.writeCommentForm button {
    border: none;
}
input ~ button .icon path {
    fill: #a7aba677;
    transition: fill 0.2s  ease-in-out;
}
input:focus ~ button .icon path {
    fill: #a7aba6;
}
input ~ button .icon.active path {
    fill: #60c040;
}

.commentsContainer {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-in-out;
}
.commentsContainer .comments {
    overflow: hidden;
}

.show.commentsContainer {
    overflow: scroll;
    grid-template-rows: 1fr;
    margin-bottom: clamp(0rem, 1.563vw, 1rem);
}

.comments {
    display: flex;
    flex-direction: column;
    gap: clamp(0rem, 1.563vw, 1rem);
}
@media only screen and (max-width: 768px) {
    .showMore {
        font-size: var(--font-size-dynamic-p-lg);
    }
}
@media only screen and (max-width: 576px) {
    .video {
        margin-top: 0;
        margin-right: var(--content-padding-sm);
        grid-area: 2 / 1 / 3 / 3;
    }
    .title {
        font-size: var(--font-size-dynamic-h4-sm);
    }
    .descriptionContainer div, .descriptionInner li {
        font-size: var(--font-size-dynamic-h6-sm);
    }
    .showMore {
        font-size: var(--font-size-dynamic-h6-sm);
    }

    /*- - -C-A-R-D---B-O-T-T-O-M- - -*/
    .cardBottom {
        gap: clamp(0rem, 3.333vw, 1.2rem);
        padding: clamp(0rem, 2.778vw, 1rem) clamp(0rem, 2.778vw, 1rem) 0;
    }
    .writeComment {
        /* margin-bottom: clamp(0rem, 5.556vw, 2rem); */
        gap: clamp(0rem, 2.778vw, 1rem);
    }
    .commentsCount {
        cursor: pointer;
        font-size: var(--font-size-dynamic-h6-sm);
        font-weight: 600;
    }
    .like {
        padding: clamp(0rem, 0.847vw, 0.4rem) clamp(0rem, 2.54vw, 1.2rem);
        font-size: var(--font-size-dynamic-h6-sm);
    }
    .avatar {
        width: clamp(1rem, 9.722vw, 3.5rem);
        height: clamp(1rem, 9.722vw, 3.5rem);
        font-weight: 400;
        font-size: var(--font-size-dynamic-h5-sm);
    }
    .writeCommentForm input {
        padding-left: clamp(0rem, 2.778vw, 1rem);
        font-size: var(--font-size-dynamic-h6-sm);
    }
    .writeCommentForm .icon {
        width: clamp(0rem, 6.667vw, 2.4rem);
        height: clamp(0rem, 6.667vw, 2.4rem);
        right: clamp(0rem, 1.944vw, 0.7rem);
    }
    .show.commentsContainer {
        margin-bottom: clamp(0rem, 2.778vw, 1rem);
    }
    .comments {
        gap: clamp(0rem, 3.333vw, 1.2rem);
    }
}

@media only screen and (max-width: 375px) {
    .video {
        margin-right: var(--content-padding-xs);
    }
    .showMore {
        font-size: var(--font-size-dynamic-h5-sm);
    }
    .commentsCount {
        font-size: var(--font-size-dynamic-h5-sm);
    }
    .like {
        font-size: var(--font-size-dynamic-h5-sm);
    }
    .avatar {
        width: clamp(0rem, 11.111vw, 4rem);
        height: clamp(0rem, 11.111vw, 4rem);
        font-size: var(--font-size-dynamic-h4-sm);
    }
    .writeCommentForm input {
        font-size: var(--font-size-dynamic-h6-sm);
    }
    .writeCommentForm .icon {
        width: clamp(0rem, 7.68vw, 1.8rem);
        height: clamp(0rem, 7.68vw, 1.8rem);
        right: clamp(0rem, 2.56vw, 0.6rem);
    }
}