.inputGroup {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.inputGroup input {
    cursor: pointer;
    width: 100%;
    outline: transparent;
    border: none;
    font-weight: 500;
    padding: 0 3.4rem;
    line-height: 4rem;
    border-radius: 10rem;
    background: transparent;
    box-shadow: #a7aba671 1px 3px 8px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
}

.inputGroup input::placeholder {
    /* color: #bbb; */
    color: var(--color-radio-border);
}

.inputGroup input:focus {
    outline: 1.5px solid var(--color-text-dark);
    transition: outline 0.1s ease;
}

.inputGroup input.invalid {
    outline: 1.5px solid #a00;
}


.inputGroup .icon {
    cursor: pointer;
    font-size: 2rem;
    color: var(--color-radio-border);
}

.inputError {
    padding-left: 3.4rem;
    display: inline-block;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    color: #a00;
    font-size: 1.1rem;
    font-weight: 500;
}