/* .numbers {
    margin-bottom: 2rem;
}

.num {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
} */


.numbers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.num {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    font-weight: 500;
    background-color: #eee;
    color: var(--color-bgr-bottom);
}

.num.active {
    background-color: var(--color-btn-primary); 
    background-color: var(--color-bgr-top); 
    color: #ffffff;
}

.progressBar {
    height: 0.5rem;
    background-color: #e5e7eb;
    border-radius: 50rem;
}

.progressBarFill {
    height: 100%;
    background-color: var(--color-btn-primary);
    background-color: var(--color-bgr-top); 
    border-radius: 50rem;
    transition: all 300ms ease-in-out;
}