.title {
    text-align: center;
    font-size: var(--font-size-dynamic-h4-lg);
    font-weight: 600;
    color: var(--color-bgr-bottom);
    margin-bottom: 1rem;
}

@media only screen and (max-width: 576px) {
    .title {
        font-size: var(--font-size-dynamic-h4-sm);
    }
}