.bendraInfo {
    composes: container from './main.css';
    grid-row: 1 / 3;
    /* grid-column: 1 / 2; */
}

.rowsSection_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8rem;
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 0.8rem;
}
.rowsSection_2 {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.rowsSection_3 {
    border: 1px solid var(--color-border);
    border-radius: 0.5rem;
    padding: 0.8rem;
}

.infoRow {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.prop .iconContainer {
    align-self: start;
}
.infoData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.6;
}
.iconContainer {
    display: flex;
    justify-content: center;
    border-radius: 50rem;
    background: var(--color-background-hover);
    flex-shrink: 0;
    width: 2.7rem;
    height: 2.7rem;
    svg {
        align-self: center;
        width: 1.5rem;
        height: 1.5rem;
        color:  var(--green-bgr-dark);
    }
}

.good { color: var(--color-btn-secondary) !important; }
.bad { color: var(--color-error) !important; } 