.dabartiniaiIprociai {
    composes: container from './main.css';
    /* grid-row: 1 / 2; */
    /* grid-column: 2 / 3; */
    
}

.additionalInfo {
    display: grid;
    grid-template-columns: 1.2fr 0.7fr;
    gap: 0.8rem;
}
.info {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-border);
    border-radius: 0.5rem;
    /* padding: 0.2rem 0.5rem; */
    padding: 1rem;
    line-height: 1.6;
}
.infoHeader {
    font-size: var(--font-size-dynamic-p-lg);
    font-weight: 600;
    color: var(--green-bgr-dark);
}
.infoDesc {
    font-size: var(--font-size-dynamic-small-1-lg);
    color: var(--green-bgr-light);
}

.routines {
    display: inline-flex;
    gap: 0.8rem;
}
.routine {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    border: 1px solid var(--color-border);
}
.routineHeader {
    display: flex;
    gap: 0.5rem;
    padding: 0.8rem 1rem;
    border-bottom: 1px solid var(--color-border);
}
.routineInfo {
    padding: 1rem;
    line-height: 1.6;
}
.time, .label {
    color: var(--green-bgr-dark);
    font-size: var(--font-size-p);
    font-weight: 600;
}
.desc {
    font-size: var(--font-size-small-1);
    font-weight: 400;
}