.naujiIprociai {
    composes: container from './main.css';
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.routines {
    display: flex;
    gap: 1rem;
}
.dayHeader {
    padding: 0.5rem;
    border-bottom: 1px solid var(--color-border);
}
.dayLabel {
    font-size: var(--font-size-dynamic-p-lg);
    font-weight: 600;
    color: var(--green-bgr-dark);
}
.eat {
    font-size: var(--font-size-dynamic-small-2-lg);
    font-weight: 400;
    color: var(--green-bgr-light);
}
.days {
    display: flex;
    gap: 1rem;
}
.day {
    /* background-color: var(--color-background-hover); */
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-border);
    border-radius: 1rem;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}
.items {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}
.item {
    display: flex;
    justify-content: space-between;
    width: 10rem;
}

.label {
    font-size: var(--font-size-dynamic-small-1-lg);
    color: var(--green-bgr-light);
}
.time {
    font-size: var(--font-size-dynamic-small-1-lg);
    font-weight: 600;
    color: var(--green-bgr-dark);
}