.header {
    margin-bottom: 0.5rem;
}

.addButton {
    border: none;
    color: #fff;
    background-color: var(--color-btn-secondary);
    border-radius: 0.5rem;
    padding: 0.5rem 2.5rem;
    transition: 0.15s ease-in-out;
}

.addButton:hover {
    background-color: var(--color-btn-primary);
}
/* 

*/