:root {
    /* Colors CMD + k + g */
    --color-bgr-light: #eff1ef;
    --color-bgr-card: #d1d6cf;
    --color-bgr-top: #084747;
    --color-bgr-bottom: #082b1d;
    --color-text-light: #eff1ef;
    --color-text-dark: #082b1d;
    --color-btn-primary: #7ed957;
    --color-btn-secondary: #60c040;

    /* Font sizes: */
    --font-size-big: 5.3rem;
    --font-size-h1: 3.815rem;
    --font-size-h2: 3.052rem;
    --font-size-h3: 2.441rem;
    --font-size-h4: 1.953rem;
    --font-size-h5: 1.563rem;
    --font-size-h6: 1.25rem;
    --font-size-p: 1rem;
    --font-size-small-1: 0.8rem;
    --font-size-small-2: 0.64rem;


        /* Main Sizes */
        --nav-height: 8rem;
        --content-width: 102rem;
}

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    /* font-family: "Montserrat", sans-serif; */
    font-family: "Poppins", sans-serif;
    /* transition: .3s ease; */
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--color-bgr-light);
}

nav {
    height: var(--nav-height);
}

button {
    cursor: pointer;
}
a:link,
a:visited {
    text-decoration: none;
    color: var(--color-text);
}

li {
    list-style: none;
}

/* .icon {
    font-size: var(--h2FontSize);
} */

img {
    display: block;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--color-input);
    padding: 0.8rem 1rem;
}

.section--hidden {
    opacity: 0;
    transform: translateY(7rem);
}

/* .anime {
    transition: all 1s ease;
    transform: translateX(-10%);
} */



/* --------------------------------------------- */



/* 
	https://typescale.com
	SCALE: 1.250 

	11.642rem/	
	9.313rem /
	7.451rem / 119.21px
	5.96rem  / 95.37px
	4.768rem / 76.29px
	3.815rem / 61.04px	
	3.052rem / 48.83px	
	2.441rem / 39.06px	
	1.953rem / 31.25px	
	1.563rem / 25.00px	
	1.25rem  / 20.00px	
	1rem 	 / 16.00px	
	0.8rem   / 12.80px	
	0.64rem  / 10.24px	
	0.512rem / 8.19px	
	0.41rem  / 6.55px	
	0.328rem / 5.24px	
	0.262rem / 4.19px	
	0.21rem  / 3.36px	
	0.168rem / 2.68px	
	0.134rem / 2.15px	
	0.107rem / 1.72px
	0.086rem /1.37px
	0.069rem /1.10px
*/


