.chooseBtnContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    grid-column: 1 / -1;
    border-top: 1px solid #082b1d15;
}

.sutinkuText, .sutinkuText2 {
    font-size: var(--font-size-small-1);
}
.sutinkuText2 {
    color: #00000099;
    /* font-size: var(--font-size-small-2); */
    font-weight: 500;
}
.taisyklesLink {
    text-decoration: underline;
    cursor: pointer;
}

/* SUBSCRIPTION BUTTON */
.chooseBtnContainer button {
    border: none;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    /* height: 3rem; */
    width: 100%;
    color: var(--color-text-dark);
    font-weight: 600;
    /* margin-top: 1rem; */
    background-color: var(--color-btn-primary);
    transition: background-color 0.2s ease;
    transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.chooseBtnContainer button:hover {
    background-color: var(--color-btn-secondary);
}

.chooseBtnContainer button:disabled {
    cursor: not-allowed;
    box-shadow: none;
    background-color: #d1d6cf;
    color: #a7aba6;
}

/* CHECK BOX */
.checkboxWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.checkboxWrapper * {
    box-sizing: border-box;
}
.checkboxWrapper .cbx {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    /* padding: 6px 8px; */
    /* padding: 1rem 0px 0 0px; */
    /* border-radius: 6px; */
    overflow: hidden;
    transition: all 0.2s ease;
    display: inline-block;
}
.checkboxWrapper .cbx:not(:last-child) {
    /* margin-right: 6px; */
}
/* .checkboxWrapper .cbx:hover {
    background: rgba(0, 119, 255, 0.06);
} */
.checkboxWrapper .cbx span {
    float: left;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}
.checkboxWrapper .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    transform: scale(1);
    border: 1px solid #cccfdb;
    transition: all 0.2s ease;
    box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
}
.checkboxWrapper .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: var(--color-text-dark);
    stroke: var(--color-btn-secondary);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}
.checkboxWrapper .cbx span:last-child {
    padding-left: 8px;
    line-height: 18px;
}
.checkboxWrapper .cbx:hover span:first-child {
    border-color: var(--color-text-dark);
    border-color: var(--color-btn-secondary);
}
.checkboxWrapper .inpCbx {
    position: absolute;
    visibility: hidden;
}
.checkboxWrapper .inpCbx:checked + .cbx span:first-child {
    border-color: var(--color-text-dark);
    border-color: var(--color-btn-secondary);
    animation: wave-4 0.4s ease;
}
.checkboxWrapper .inpCbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
}
.checkboxWrapper .inlineSvg {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}

/* @media screen and (max-width: 640px) {
    .checkboxWrapper .cbx {
        width: 100%;
        display: inline-block;
    }
} */
@-moz-keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}
@-webkit-keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}
@-o-keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}
@keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}

@media only screen and (max-width: 576px) {
    .chooseBtnContainer {
        order: 3;
        flex-direction: column;
        gap: 1rem;
    }
    .checkboxWrapper {
        /* margin-top: 1rem; */
    }
}
@media only screen and (max-width: 430px) {
    .chooseBtnContainer button {
        font-size: var(--font-size-h6);
        width: 100%;
        padding: 0.9rem 1rem;
        margin-top: 1rem;
    }
}
@media only screen and (max-width: 375px) {
    .chooseBtnContainer {
        padding-top: 0.7rem;
        gap: 0rem;
    }
    .checkboxWrapper {
        margin-top: 0rem;
    }
    .chooseBtnContainer button {
        font-size: var(--font-size-p);
        
        padding: 0.8rem 1rem;
        margin-top: 1rem;
    }
}
@media only screen and (max-width: 320px) {
    .sutinkuText {
        font-size: var(--font-size-small-2);
    }
}
