.manageSubscriptionContainer {
    display: flex;
    justify-content: end;
    grid-column: 1 / -1;
    border-top: 1px solid #082b1d15;
}

.manageSubscriptionContainer button {
    border: none;
    border-radius: 2rem;
    padding: 0.8rem 2.2rem;
    text-transform: uppercase;
    color: var(--color-text-dark);
    font-weight: 600;
    margin-top: 1rem;
    background-color: var(--color-btn-primary);
    transition: background-color 0.2s ease;
    transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.manageSubscriptionContainer button:hover {
    background-color: var(--color-btn-secondary);
}

@media only screen and (max-width: 576px) {
    .manageSubscriptionContainer {
        order: 3;
    }

    .manageSubscriptionContainer button {
        width: 100%;
    }
}

@media only screen and (max-width: 430px) {

    .manageSubscriptionContainer button {
        padding: 0.9rem 1rem;
    }
}

@media only screen and (max-width: 375px) {
    .manageSubscriptionContainer button {
        padding: 0.8rem 1rem;
        margin-top: 0.7rem;
    }
}