.wrapper {
    border-radius: 37px;
    background-color: #f7f7f7;
    /* padding: 0.2rem; */
    width: 100%;
    max-width: 11.5rem;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}
.tabSwitch { position: relative; }
.textCenter { text-align: center; }
  
.tabSwitch:after {
    content: '';
    position: absolute;
    width: 50%;
    top: 0;
    transition: left ease 0.3s;
    border-radius: 27.5px;
    background-color: var(--color-text-dark);
    height: 100%;
    z-index: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
  
.tabSwitch.month:after { left: 0; }
.tabSwitch.year:after { left: 50%; }
  
.tabSwitch .tab {
    display: inline-block;
    width: 50%;
    padding: 0.2rem 0;
    z-index: 1;
    position: relative;
    cursor: pointer;
    transition: color 200ms;
    font-size: var(--font-size-small-1);
    font-weight: 400;
    color: var(--color-radio-border);
    color: var(--color-text-dark);
    line-height: normal;
    user-select: none;
}
  
.tabSwitch .tab.active {
    /* color: var(--color-text-dark); */
    color: var(--color-text-light);
}