.narysteDesktop {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    column-gap: 1rem;
    row-gap: 1rem;
    width: 45rem;
    margin: 0 auto;
    animation: fadeIn 0.2s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


@media only screen and (max-width: 576px) {
    .narysteDesktop {
        display: none;
    }
}