.userDetails {
    display: flex;
    align-self: start;
    flex-direction: column;
    gap: 0.5rem;
}

.userItem {
    display: flex;
    flex-direction: column;
}

.label {
    color: var(--color-text-green-dark);
    font-weight: 600;
}
.value {
    color: var(--color-text-grey);
}