.left {
    width: var(--form-side-width-lg);
    background-image: url('../../assets/images/auth/registration_bgr.jpg');
    background-size: cover;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-self: stretch;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: var(--color-text-dark);    
}

.title {
    align-self: end;
    font-size: var(--font-size-dynamic-h3-lg);
    color: var(--color-text-dark);
}
.message {
    /* padding-top: 4rem; */
}
.message h3 {
    color: var(--color-text-dark);
    /* display: flex; */
    /* justify-content: center; */
    font-size: var(--font-size-dynamic-p-lg);
}
.action {
    display: flex;
    justify-content: center;
    position: relative;
}
.action h4 {
    position: absolute;
    top: -75%;
    font-size: var(--font-size-dynamic-p-lg);
    font-weight: 400;
}

.action button {
    border: none;
    border-radius: 10rem;
    color: var(--color-text-light);
    background-color: var(--color-bgr-top);
    height: var(--form-btn-height-lg);
    width: clamp(0rem, 17.188vw, 11rem);
    font-size: var(--font-size-dynamic-p-lg);
    font-weight: 500;
    transition: background-color 0.1s ease-in-out;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.1);
}
.action button:hover {
    background-color: var(--color-bgr-bottom);
    transition: background-color 0.1s ease-in-out;
}


@media only screen and (max-width: 576px){
    .left {
        display: none;
    }
}
