.left {
    width: 40rem;
    /* height: 80vh; */
    background-image: url('../../assets/images/auth/registration_bgr.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-text-dark);
}

.title {
    font-size: var(--font-size-h1);
    color: var(--color-text-dark);
}
.message {
    padding-top: 4rem;
}
.message h3 {
    color: var(--color-text-dark);
    display: flex;
    justify-content: center;
    font-size: var(--font-size-h5);
}
.action {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8rem;
}
.action h4 {
    font-size: var(--font-size-h6);
    font-weight: 400;
}

.action button {
    margin-top: 1rem;
    border: none;
    border-radius: 10rem;
    color: var(--color-text-light);
    background-color: var(--color-bgr-top);
    height: 4rem;
    width: 14rem;
    font-weight: 500;
    transition: background-color 0.1s ease-in-out;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.1);
}
.action button:hover {
    background-color: var(--color-bgr-bottom);
    transition: background-color 0.1s ease-in-out;
}


@media only screen and (max-width: 430px){
    .left {
        display: none;
    }
}
