.right {
    position: relative;
    width: var(--form-side-width-lg);
    height: 80dvh;
}

form.signin {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

/* H E A D E R */
.header {
    align-self: end;
}

.header .icon {
    font-size: var(--form-header-icon-size-lg);
    color: var(--color-bgr-dark);
    opacity: 0.4;    
}


/* I N P U T S */
.inputs {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: clamp(0rem, 0.94vw, 0.6rem);
}

/* O N E   I N P U T */
.inputGroup {
    position: relative;
    display: flex;
    flex-direction: column;
}

.inputContainer {
    display: flex;
    position: relative;
    
}

.inputGroup input {
    width: clamp(0rem, 28.125vw, 18rem);
    cursor: pointer;
    outline: transparent;
    border: none;
    font-size: var(--font-size-dynamic-small-1-lg);
    font-weight: 500;
    padding: 0 clamp(0rem, 3.761vw, 2.4rem);
    line-height: var(--form-btn-height-lg);
    border-radius: 10rem;
    background: transparent;
    box-shadow: #a7aba671 1px 3px 8px;
}

.inputGroup input::placeholder {
    color: var(--color-radio-border);
}

.inputGroup input:focus {
    outline: 1.5px solid var(--color-text-dark);
    transition: outline 0.1s ease;
}

.inputGroup input.invalid {
    outline: 1.5px solid var(--color-error);
    transition: outline 0.2s ease;
}

.inputGroup input.valid {
    outline: 1.5px solid var(--color-success);
    transition: outline 0.2s ease;
}

.inputs .icon {
    cursor: pointer;
    position: absolute;
    font-size: clamp(0rem, 1.563vw, 1rem);
    color: var(--color-bgr-top);
    top: 50%;
    transform: translateY(-50%);
    left: clamp(0rem, 1.254vw, 0.8rem);
}

.eyeIconContainer {
    display: flex;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: clamp(0rem, 1.563vw, 1rem);
}

.eyeIcon {
    font-size: clamp(0rem, 2.031vw, 1.3rem);
    color: var(--color-radio-border);
}

.inputError {
    padding-left: clamp(0rem, 3.761vw, 2.4rem);
    display: inline-block;
    margin-top: 0.2rem;
    color: var(--color-error);
    font-size: var(--font-size-dynamic-small-2-lg);
    font-weight: 500;
}

/* P R I M I N T I   S L A P T A Ž O D Į */
.primintiSlaptazodi {
    position: absolute;
    bottom: -60%;
    right: 0;
    cursor: pointer;
    text-align: right;
    padding-right: clamp(0rem, 1.563vw, 1rem);
    font-weight: 400;
    font-size: var(--font-size-dynamic-small-1-lg);
}

.primintiSlaptazodi:hover {
    text-decoration: underline;
}

/* B O T T O M */
.bottom {
    display: flex;
}
.signUpMobile {
    display: none;
}
.bottom button {
    width: clamp(0rem, 17.188vw, 11rem);
    height: var(--form-btn-height-lg);
    font-size: var(--font-size-dynamic-p-lg);
    font-weight: 600 !important;
    border: none;
    border-radius: 10rem;
    background-color: var(--color-btn-primary);
    color: var(--color-text-dark);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    font-weight: 500;
    transition: background-color 0.1s ease;
}

.bottom button:hover {
    background-color: var(--color-btn-secondary);
    transition: background-color 0.1s ease;
}

.bottom button:disabled {
    cursor: wait;
    background: var(--color-radio-border);
    color: var(--color-text-light);
}

/* .signatureContainer { */
    /* padding-bottom: clamp(0rem, 1.563vw, 1rem); */
/* } */
.signatureContainer img {
    width: clamp(0rem, 15.625vw, 10rem);
    opacity: 0.4;
}

@media only screen and (min-width: 769px) and (orientation: portrait) {
    .right {
        height: 55dvh;
    }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
    .right {
        height: 90dvh;
    }
}

@media only screen and (max-width: 576px) {
    .right {
        height: 85dvh;
        width:  clamp(0rem, 91.667vw, 33rem);
    }

    form.signin {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .header {
        align-self: center;
        flex: 1;
        align-content: center;
    }

    .header .icon {
        display: flex;
        font-size: clamp(0rem, 22.222vw, 8rem);
        
    }

    .inputs {
        gap: clamp(0rem, 2.977vw, 0.8rem);
        flex: 1;
    }

    .inputGroup input {
        width: clamp(0rem, 78.14vw, 30rem);
        line-height: clamp(0rem, 12.651vw, 3.4rem);
        font-size: var(--font-size-dynamic-h6-sm);
        padding: 0 clamp(0rem, 10.419vw, 2.8rem);
    }

    .inputs .icon {
        font-size: clamp(0rem, 4.465vw, 1.2rem);
        left: clamp(0rem, 3.721vw, 1rem);
    }

    .eyeIconContainer {
        right: clamp(0rem, 3.333vw, 1.2rem);
    }
    .eyeIcon {
        font-size: clamp(0rem, 5.953vw, 1.6rem);
    }

    .inputError {
        padding-left: clamp(0rem, 10.419vw, 2.8rem);
        font-size: var(--font-size-dynamic-p-sm);
    }

    .primintiSlaptazodi {
        top: 115%;
        right: 5%;
        padding-right: clamp(0rem, 1.563vw, 1rem);
        font-size: var(--font-size-dynamic-h6-sm); 
    }

    .bottom {
        display: flex;
        flex-direction: column;
        /* flex: 1; */
        justify-content: center;
    }

    .bottom button {
        width: clamp(0rem, 78.14vw, 30rem);
        height: clamp(0rem, 12.651vw, 3.4rem);
        font-size: var(--font-size-dynamic-h5-sm); 
    }

    .signUpMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 15vh;

    }
    .signUpMobile span {
        font-size: var(--font-size-dynamic-h6-sm);
        line-height: 140%;
    }
}