.right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    width: var(--form-side-width-lg);
    padding: 0 var(--from-size-padding-lg);
    height: 80dvh;
}

.signin {
    width: 100%;
}

/* H E A D E R */

.header {
    display: flex;
    justify-content: center;
    margin: 3.5rem 0;
}

.header .icon {
    font-size: var(--form-header-icon-size-lg);
    color: var(--color-bgr-dark);
    opacity: 0.4;    
}


/* I N P U T S */

.inputs {
    display: flex;
    flex-direction: column;
}

/* O N E   I N P U T */
.inputGroup {
    display: flex;
    flex-direction: column;
    padding-bottom: clamp(0rem, 0.94vw, 0.6rem);
}

.inputContainer {
    position: relative;
}

.inputGroup input {
    cursor: pointer;
    width: 100%;
    outline: transparent;
    border: none;
    font-size: var(--font-size-dynamic-small-1-lg);
    font-weight: 500;
    padding: 0 clamp(0rem, 3.761vw, 2.4rem);
    line-height: var(--form-btn-height-lg);
    border-radius: 10rem;
    background: transparent;
    box-shadow: #a7aba671 1px 3px 8px;
}

.inputGroup input::placeholder {
    color: var(--color-radio-border);
}

.inputGroup input:focus {
    outline: 1.5px solid var(--color-text-dark);
    transition: outline 0.1s ease;
}

.inputGroup input.invalid {
    outline: 1.5px solid var(--color-error);
    transition: outline 0.2s ease;
}

.inputGroup input.valid {
    outline: 1.5px solid var(--color-success);
    transition: outline 0.2s ease;
}

.inputs .icon {
    cursor: pointer;
    position: absolute;
    font-size: clamp(0rem, 1.563vw, 1rem);
    color: var(--color-bgr-top);
    top: 50%;
    transform: translateY(-50%);
    left: clamp(0rem, 1.254vw, 0.8rem);
}

.eyeIconContainer {
    display: flex;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.1rem;
}

.eyeIcon {
    font-size: clamp(0rem, 2.031vw, 1.3rem);
    color: var(--color-radio-border);
}

.inputError {
    padding-left: clamp(0rem, 3.761vw, 2.4rem);
    display: inline-block;
    margin-top: 0.2rem;
    color: var(--color-error);
    font-size: var(--font-size-dynamic-small-2-lg);
    font-weight: 500;
}

/* P R I M I N T I   S L A P T A Ž O D Į */
.primintiSlaptazodi {
    cursor: pointer;
    text-align: right;
    padding-right: 1rem;
    font-weight: 400;
    font-size: var(--font-size-dynamic-small-1-lg);
}

.primintiSlaptazodi:hover {
    text-decoration: underline
}

/* B O T T O M */
.bottom {
    display: flex;
    justify-content: center;
}
.bottom button {
    margin-top: 2rem;
    width: clamp(0rem, 17.188vw, 11rem);
    font-size: var(--font-size-dynamic-p-lg);
    font-weight: 600 !important;
    border: none;
    border-radius: 10rem;
    background-color: var(--color-btn-primary);
    color: var(--color-text-dark);
    height: var(--form-btn-height-lg);
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    font-weight: 500;
    transition: background-color 0.1s ease;
}

.bottom button:hover {
    background-color: var(--color-btn-secondary);
    transition: background-color 0.1s ease;
}

.bottom button:disabled {
    cursor: wait;
    background: var(--color-radio-border);
    color: var(--color-text-light);
}

.signatureContainer {
    padding-bottom: clamp(0rem, 1.563vw, 1rem);
}
.signatureContainer img {
    width: clamp(0rem, 15.625vw, 10rem);
    opacity: 0.4;
}


@media only screen and (max-width: 576px){
    .right {
        width: clamp(1rem, 91.667vw, 33rem);
    }
}