.bgr {
    background-image: url('../../assets/images/auth/registration_bgr.jpg');
    background-size: cover;
}

.updateContainer {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    justify-items: center;
    
    background: var(--color-bgr-light);
    width: clamp(0rem, 37.5vw, 24rem);
    height: clamp(0rem, 37.5vw, 24rem);
    padding: clamp(0rem, 4.688vw, 3rem);
    padding-top: 0;
    border-radius: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.icon {
    align-self: center;
    font-size: clamp(1rem, 7.813vw, 5rem);
    color: var(--color-bgr-dark);
    opacity: 0.4;   
}

.updateContainer h1 {
    font-size: var(--font-size-dynamic-h5-lg);
    color: var(--color-text-dark);
}
.updateContainer p {
    text-align: center;
}
.passwordRequiredList:first {
    justify-items: center;
    margin-bottom: 3rem;
    
}
.passwordRequiredList {
    display: flex;
    align-items: center;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(0rem, 1.25vw, 0.8rem);
}

.updateContainer input:focus {
    outline: 1.5px solid var(--color-text-dark);
    transition: outline 0.1s ease;
}

.updateContainer input.invalid {
    outline: 1.5px solid var(--color-error);
    transition: outline 0.2s ease;
}

.updateContainer input.valid {
    outline: 1.5px solid var(--color-success);
    transition: outline 0.2s ease;
}

.bottom {
    display: flex;
    justify-content: center;
    width: 100%;
}

.bottom button {
    width: 100%;
    height: clamp(0rem, 3.906vw, 2.5rem);
    font-size: var(--font-size-dynamic-p-lg);
    font-weight: 600 !important;
    border: none;
    border-radius: 10rem;
    background-color: var(--color-btn-primary);
    color: var(--color-text-dark);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    font-weight: 500;
    transition: background-color 0.1s ease;
}

.bottom button:hover {
    background-color: var(--color-btn-secondary);
    transition: background-color 0.1s ease;
}

.bottom button:disabled {
    cursor: wait;
    background: var(--color-radio-border);
    color: var(--color-text-light);
}

@media only screen and (max-width: 576px) {
    .updateContainer {
        width: clamp(0rem, 89.302vw, 24rem);
        height: clamp(0rem, 89.302vw, 24rem);
        padding: clamp(0rem, 8.186vw, 2.2rem);
        padding-top: 0;
    }

    .form {
        gap: clamp(0rem, 2.977vw, 0.8rem);
    }

    .icon {
        font-size: clamp(1rem, 16.744vw, 4.5rem);
    }
    .updateContainer h1 {
        font-size: clamp(0rem, 5.816vw, 1.563rem);
    } 

    .bottom button {
        height: clamp(0rem, 11.163vw, 3rem);
        font-size: clamp(0rem, 3.721vw, 1rem);
    }
}

