.inputGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputContainer {
    display: flex;
    position: relative;
    width: 100%;
}

.inputGroup input {
    cursor: pointer;
    width: 100%;
    height: clamp(0rem, 3.906vw, 2.5rem);
    outline: transparent;
    border: none;
    font-size: var(--font-size-dynamic-small-1-lg);
    font-weight: 500;
    padding: 0 clamp(0rem, 4.063vw, 2.6rem);
    /* line-height: 4rem; */
    border-radius: clamp(0rem, 15.625vw, 10rem);
    background: transparent;
    box-shadow: #a7aba671 1px 3px 8px;
}

.inputGroup input::placeholder {
    color: var(--color-radio-border);
}

.inputGroup .icon {
    cursor: pointer;
    position: absolute;
    font-size: clamp(0rem, 1.719vw, 1.1rem);
    color: var(--color-bgr-top);
    top: 50%;
    transform: translateY(-50%);
    left: clamp(0rem, 1.563vw, 1rem);
}

.eyeIconContainer {
    display: flex;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: clamp(0rem, 1.719vw, 1.1rem);
}

.eyeIcon {
    font-size: clamp(0rem, 2.188vw, 1.4rem);
    color: var(--color-radio-border);
}

.inputError {
    padding-left: clamp(0rem, 4.063vw, 2.6rem);
    display: inline-block;
    margin-top: 0.2rem;
    color: var(--color-error);
    font-size: clamp(0rem, 1.25vw, 0.8rem);
    font-weight: 500;
}


@media only screen and (max-width: 576px) {
    .inputGroup input {
        height: clamp(0rem, 11.163vw, 3rem);
        font-size: clamp(0rem, 2.977vw, 0.8rem);
        padding: 0 clamp(0rem, 8.93vw, 2.4rem);
    }

    .inputGroup .icon {
        font-size: clamp(0rem, 1.719vw, 1.1rem);
        font-size: clamp(0rem, 4.093vw, 1.1rem); 
        left: clamp(0rem, 2.977vw, 0.8rem);
    }

    .eyeIconContainer {
        right: clamp(0rem, 3.721vw, 1rem);
    }
    .eyeIcon {
        font-size: clamp(0rem, 5.209vw, 1.4rem);
    }

    .inputError {
        padding-left: clamp(0rem, 8.558vw, 2.3rem);
        font-size: clamp(0rem, 2.977vw, 0.8rem);
    }
}