.main { 
    padding-top: var(--nav-height-80); 
    background-color: var(--color-background);
}

@media only screen and (max-width: 576px) {
    .main { 
        padding-top: var(--nav-height-70);
    }
}

@media only screen and (max-width: 430px) {
    .main { 
        padding-top: var(--nav-height-60);
    }
}