.main { 
    padding-top: var(--nav-height); 
    background-color: #eff1ef;
}

@media only screen
and (min-width: 431px) 
and (max-width: 607px) {
    .main { 
        padding-top: var(--nav-height_607);
    }
}

@media only screen and (max-width: 430px) {
    .main { 
        padding-top: var(--nav-height_430);
    }
}