/* .card {
    display: flex;
    border-radius: 2rem;
    padding: 0 4rem;
    flex-direction: column;
    background-color: var(--color-bgr-card);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.title {
    padding-top: 3rem;
    color: var(--color-text-dark);
    font-weight: 700;
    font-size: var(--font-size-h4);
}

.message {
    padding-top: 1rem;
    color: var(--color-text-dark);
    font-size: var(--font-size-h6);
}

.starts {
    padding-top: 1rem;
    padding-bottom: 3rem;
}



.icon {
    color: #F2BB15;
    font-size: 1.8rem;
} */