.notFound {
    display: grid;
    place-items: center;
    height: calc(100vh - (var(--nav-height-80)*2));
}

.numbers {
    composes: import numbers from '../notfoundpages/NotFoundPage.module.css';
}