.assignPlanBtn {
    border: none;
    outline: none;
    width: 350px;
    border-radius: 100px;
    padding: 0.4rem 0;
    font-size: var(--font-size-h6);
    color: var(--color-bgr-top);
    background-color: var(--color-bgr-light);
    transition: all 0.15s ease-in-out;
}

.assignPlanBtn:hover {
    background-color: var(--color-filter-btn);
}
.assignPlanBtn:disabled {
    cursor: wait;
    background-color: #fafafa;
    color: #ccc;
}

.userDetais {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    border-radius: 25px;
    padding: 2rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 100%;
}

.userDetails {
    align-self: start;
    display: flex;
    flex-direction: column;
}